data/flows.manual-backup.json
[
    {
        "id": "9e23ccbf2e0608ed",
        "type": "tab",
        "label": "Simple Chat",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "191694dad2850f37",
        "type": "tab",
        "label": "Iterative Eval 01",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3fb1b07be44ed756",
        "type": "tab",
        "label": "Sandbox",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8518392b3e041cfe",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9941dd1769d8bb1b",
        "type": "subflow",
        "name": "Inject context",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "abd5674a230a71e1"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": [
                    {
                        "id": "abd5674a230a71e1",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Keys",
                "type": "json",
                "value": "[]",
                "ui": {
                    "icon": "font-awesome/fa-database",
                    "type": "input",
                    "opts": {
                        "types": [
                            "json"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "b84666ab835bd991",
        "type": "subflow",
        "name": "Update context",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "ab9338fdefba2fb8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": [
                    {
                        "id": "ab9338fdefba2fb8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Keys",
                "type": "json",
                "value": "[]",
                "ui": {
                    "icon": "font-awesome/fa-database",
                    "type": "input",
                    "opts": {
                        "types": [
                            "json"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "acae0224279dfa17",
        "type": "subflow",
        "name": "ui-style",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "f6e35d191a536486"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": [
                    {
                        "id": "3dddb56b9baedbc9",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Style",
                "type": "bin",
                "value": ""
            },
            {
                "name": "Id",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "6d317c39edd7ba27",
        "type": "subflow",
        "name": "Send Streaming Request",
        "info": "",
        "category": "llm request",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "1cc3136b62faf259"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 320,
                "wires": [
                    {
                        "id": "cb3d5d88fb5e1a7c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Id",
                "type": "str",
                "value": ""
            },
            {
                "name": "Url",
                "type": "str",
                "value": ""
            },
            {
                "name": "Options",
                "type": "json",
                "value": "{\"method\":\"GET\",\"headers\":{\"Content-Type\":\"application/json\"}}"
            }
        ],
        "meta": {
            "module": "mymodule"
        },
        "color": "#3FADB5",
        "icon": "node-red/bridge.svg"
    },
    {
        "id": "6dcab040eb85e22f",
        "type": "subflow",
        "name": "Init UI Build",
        "info": "",
        "category": "llm:ui",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "f4b58a4a17cbb986"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 740,
                "y": 320,
                "wires": [
                    {
                        "id": "f4b58a4a17cbb986",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#A6BBCF",
        "icon": "node-red-contrib-uibuilder/pencilBoxMultipleWhite.svg"
    },
    {
        "id": "8bc504703109d530",
        "type": "subflow",
        "name": "Chat2",
        "info": "",
        "category": "llm:ui",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "b7177543effbb937"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 420,
                "y": 500,
                "wires": [
                    {
                        "id": "c0d9c6af807061b7",
                        "port": 0
                    },
                    {
                        "id": "05ad96f6e0c6b685",
                        "port": 0
                    },
                    {
                        "id": "99dca965fba88e8c",
                        "port": 0
                    },
                    {
                        "id": "92d3f952d628ae59",
                        "port": 0
                    },
                    {
                        "id": "90188a15c9e8124a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "HTML Id",
                "type": "str",
                "value": ""
            },
            {
                "name": "Parent",
                "type": "str",
                "value": "body"
            },
            {
                "name": "Title",
                "type": "str",
                "value": "Chat"
            }
        ],
        "meta": {},
        "color": "#A6BBCF",
        "icon": "font-awesome/fa-comment-o"
    },
    {
        "id": "30524eb290047e07",
        "type": "subflow",
        "name": "Chat2 - Provide Form Elements",
        "info": "",
        "category": "llm:ui",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "dc8928d34ef931cc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": [
                    {
                        "id": "dc8928d34ef931cc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#FFFFFF",
        "icon": "font-awesome/fa-comment-o"
    },
    {
        "id": "296147c1455bbb26",
        "type": "subflow",
        "name": "Chat2 - Provide Chat Elements",
        "info": "",
        "category": "llm:ui",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "6ca6b11a4f65ca27"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 560,
                "y": 380,
                "wires": [
                    {
                        "id": "c6161498694d0ff4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#FFFFFF",
        "icon": "font-awesome/fa-comment-o"
    },
    {
        "id": "a59054999730c251",
        "type": "subflow",
        "name": "Model - OpenAIChatCompletionsStream",
        "info": "",
        "category": "llm models",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "c5f09a313c4f789d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1460,
                "y": 660,
                "wires": [
                    {
                        "id": "5b77260b6c087625",
                        "port": 0
                    },
                    {
                        "id": "277a7bcc08d2cc66",
                        "port": 0
                    },
                    {
                        "id": "b02f3649626d6560",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Id",
                "type": "str",
                "value": ""
            },
            {
                "name": "BaseUrl",
                "type": "str",
                "value": ""
            },
            {
                "name": "Temperature",
                "type": "num",
                "value": "0.7"
            },
            {
                "name": "Stop",
                "type": "str",
                "value": ""
            },
            {
                "name": "Batch",
                "type": "num",
                "value": "1"
            }
        ],
        "meta": {},
        "color": "#87A980",
        "icon": "font-awesome/fa-address-card-o"
    },
    {
        "id": "2b3efcc977e88d91",
        "type": "subflow",
        "name": "Chat UI App",
        "info": "",
        "category": "llm:ui",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "f9339a39075c7450"
                    },
                    {
                        "id": "b153a1db69fe018c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1420,
                "y": 540,
                "wires": [
                    {
                        "id": "d0bc8cbbd38f96d0",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "icon": "font-awesome/fa-comments-o"
    },
    {
        "id": "ce6026c0ffde68ba",
        "type": "subflow",
        "name": "Inject history",
        "info": "",
        "category": "llm storage",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "88750c0a7f0ea58c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 200,
                "y": 360,
                "wires": [
                    {
                        "id": "e43978271213406b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Id",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#E2D96E",
        "icon": "node-red/leveldb.svg"
    },
    {
        "id": "680a38a9fc7ffbbc",
        "type": "subflow",
        "name": "Update history",
        "info": "",
        "category": "llm storage",
        "in": [
            {
                "x": 80,
                "y": 40,
                "wires": [
                    {
                        "id": "f906b3e6319be105"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 320,
                "y": 380,
                "wires": [
                    {
                        "id": "f2fd598a0898c772",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Id",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#E2D96E",
        "icon": "node-red/leveldb.svg"
    },
    {
        "id": "6efc1af5415157df",
        "type": "subflow",
        "name": "Inject historyDbFilename",
        "info": "",
        "category": "llm storage",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "c6e2b0ab7145e11a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 380,
                "y": 100,
                "wires": [
                    {
                        "id": "c6e2b0ab7145e11a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#E2D96E",
        "icon": "font-awesome/fa-file-o"
    },
    {
        "id": "ae4739904e91e32d",
        "type": "subflow",
        "name": "provide - parseMarkdown",
        "info": "",
        "category": "llm:util",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "7b7768b80e1acc34"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 260,
                "wires": [
                    {
                        "id": "7b7768b80e1acc34",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DEBD5C"
    },
    {
        "id": "74bd10ee8e354d0a",
        "type": "subflow",
        "name": "History",
        "info": "",
        "category": "llm storage",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "7bb6dcdcff9df0bc"
                    },
                    {
                        "id": "eefd90d4e48a163f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1820,
                "y": 380,
                "wires": [
                    {
                        "id": "1cfad4d12606eb35",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "New",
                "type": "bool",
                "value": "true"
            },
            {
                "name": "SourceFilename",
                "type": "str",
                "value": ""
            },
            {
                "name": "Id",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#E2D96E"
    },
    {
        "id": "54dfdee937147952",
        "type": "subflow",
        "name": "Wait for Step",
        "info": "",
        "category": "llm agents",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "059dcd4099b7cba7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 320,
                "wires": [
                    {
                        "id": "059dcd4099b7cba7",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Step",
                "type": "num",
                "value": "0"
            }
        ],
        "meta": {},
        "color": "#FFAAAA"
    },
    {
        "id": "fe8f70709279ea90",
        "type": "subflow",
        "name": "Step",
        "info": "",
        "category": "llm agents",
        "in": [
            {
                "x": 80,
                "y": 60,
                "wires": [
                    {
                        "id": "c58191477f52b55b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1380,
                "y": 240,
                "wires": [
                    {
                        "id": "41840610e4e89d4a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Step",
                "type": "num",
                "value": ""
            },
            {
                "name": "InitHistoryId",
                "type": "str",
                "value": ""
            },
            {
                "name": "Wait",
                "type": "bool",
                "value": "true"
            }
        ],
        "meta": {},
        "color": "#FFAAAA"
    },
    {
        "id": "3bb38f582155f29d",
        "type": "subflow",
        "name": "Go to",
        "info": "",
        "category": "llm agents",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "040a413f7a91f093"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": [
                    {
                        "id": "040a413f7a91f093",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#FFAAAA"
    },
    {
        "id": "95c38d96d861b4c4",
        "type": "subflow",
        "name": "Parent subflow",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "4c4840b662683b53"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 640,
                "y": 420,
                "wires": [
                    {
                        "id": "c991d0349f4aea89",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "bb86be1bb99d0fec",
        "type": "subflow",
        "name": "Child Subflow",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "a04ad5963a5dbea7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 420,
                "y": 200,
                "wires": [
                    {
                        "id": "a99b59b008d644da",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "573a66c74ad47252",
        "type": "group",
        "z": "2b3efcc977e88d91",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "24d6b22fbb3331ef",
            "fa93074c3844e72a",
            "e64c01c3ce72e42c",
            "fd30589c82c22c62"
        ],
        "x": 314,
        "y": 459,
        "w": 452,
        "h": 202
    },
    {
        "id": "ffdcd8798ee03933",
        "type": "group",
        "z": "2b3efcc977e88d91",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d0bc8cbbd38f96d0",
            "ed0c2d4f1d21f64c",
            "b7a0d2554c54f30c"
        ],
        "x": 854,
        "y": 599,
        "w": 452,
        "h": 142
    },
    {
        "id": "0e803c0423a03bad",
        "type": "group",
        "z": "2b3efcc977e88d91",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ec546330d29baba3",
            "96d1b37cfc101abc"
        ],
        "x": 854,
        "y": 779,
        "w": 272,
        "h": 142
    },
    {
        "id": "1309c3c5cd6f1b74",
        "type": "group",
        "z": "2b3efcc977e88d91",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2f187dab7a1ae2ad",
            "ee56e84f7a5b03ef",
            "2c75870eb28bb7c5"
        ],
        "x": 514,
        "y": 719,
        "w": 252,
        "h": 202
    },
    {
        "id": "3cdc7422abfbe82e",
        "type": "group",
        "z": "2b3efcc977e88d91",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3b2ca8934fb0ccd7",
            "05af6ff6db82adba"
        ],
        "x": 854,
        "y": 239,
        "w": 372,
        "h": 142
    },
    {
        "id": "2ec09f072ab0b146",
        "type": "group",
        "z": "2b3efcc977e88d91",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b07e294259fdd664",
            "c5dcd2bf8b994fb8"
        ],
        "x": 854,
        "y": 39,
        "w": 352,
        "h": 122
    },
    {
        "id": "0e1cb402b61eb646",
        "type": "group",
        "z": "9e23ccbf2e0608ed",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c0c36621780669a4",
            "977f9402195729c4",
            "8ec4c35df45a28c5",
            "aaf9af66d3e39da8"
        ],
        "x": 248,
        "y": 379,
        "w": 424,
        "h": 328
    },
    {
        "id": "8a3c592536de3111",
        "type": "group",
        "z": "2b3efcc977e88d91",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e71f5a20f7b7837e",
            "c8c9a2cca8781c5f"
        ],
        "x": 854,
        "y": 419,
        "w": 332,
        "h": 142
    },
    {
        "id": "83fd8826b0ec3bf4",
        "type": "group",
        "z": "191694dad2850f37",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c85c2df7d79465a0",
            "73516493eccdfd9d",
            "f762ec936046e78f",
            "ce1b28a464e3b3b3",
            "81b98c3380c57334",
            "d48b052e253b43c3",
            "93859b35073996c8"
        ],
        "x": 74,
        "y": 579,
        "w": 592,
        "h": 368
    },
    {
        "id": "0e31504694a6eb0c",
        "type": "group",
        "z": "191694dad2850f37",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9d0d59cbd0342094",
            "b67aacc8e54e5106",
            "c533acab9a1bba89",
            "8565c4a9a8c13312"
        ],
        "x": 74,
        "y": 39,
        "w": 512,
        "h": 162
    },
    {
        "id": "17a2a4d88505d1b2",
        "type": "group",
        "z": "191694dad2850f37",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8516a2d5188e142d",
            "1322aa4137d1056e",
            "1f999e727d7bdcbd",
            "36217d16d71a4c30",
            "b38cd518b824c20d",
            "9240a0389d51445c"
        ],
        "x": 814,
        "y": 299,
        "w": 552,
        "h": 202
    },
    {
        "id": "3334e9dd5bf3557d",
        "type": "group",
        "z": "191694dad2850f37",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5dd26b4eb51f86a8",
            "833eaf27d6837495",
            "fe0f3fe28e08e2f0",
            "36f73b6e3236c721"
        ],
        "x": 854,
        "y": 779,
        "w": 512,
        "h": 162
    },
    {
        "id": "0df36a8be0d76989",
        "type": "group",
        "z": "191694dad2850f37",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0800060d86e1ca55",
            "32fd036f241606a1",
            "a33731f7d26ff1d8",
            "7b60dc37c59dc80f",
            "85c126ddb6ae9692"
        ],
        "x": 854,
        "y": 39,
        "w": 512,
        "h": 222
    },
    {
        "id": "5dbdaf47523ce33a",
        "type": "group",
        "z": "191694dad2850f37",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "4135e1850bf3099c",
            "42cede20c9456a92"
        ],
        "x": 1174,
        "y": 559,
        "w": 192,
        "h": 122
    },
    {
        "id": "b1dd9777ee396bd7",
        "type": "group",
        "z": "191694dad2850f37",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0ad9554c20eb8dd0",
            "34fa053e9707e425"
        ],
        "x": 374,
        "y": 299,
        "w": 212,
        "h": 122
    },
    {
        "id": "1ae11ef02f19ba42",
        "type": "group",
        "z": "74bd10ee8e354d0a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f5e7eec49fcf570e",
            "3039cd8559535cc4",
            "37cf58b736452c29",
            "e34397c8aec9b431",
            "3cd23f12c0321b72"
        ],
        "x": 654,
        "y": 139,
        "w": 472,
        "h": 162
    },
    {
        "id": "aaf9af66d3e39da8",
        "type": "group",
        "z": "9e23ccbf2e0608ed",
        "g": "0e1cb402b61eb646",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "948e1265a14409b8",
            "a63ac3946c2843eb",
            "b1093b3dfa80dbe3"
        ],
        "x": 274,
        "y": 559,
        "w": 372,
        "h": 122
    },
    {
        "id": "ce1b28a464e3b3b3",
        "type": "group",
        "z": "191694dad2850f37",
        "g": "83fd8826b0ec3bf4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e451712bc8b52b18",
            "e2dd14f8d37e7a72",
            "bb6dc487db2ce156"
        ],
        "x": 214,
        "y": 799,
        "w": 372,
        "h": 122
    },
    {
        "id": "abd5674a230a71e1",
        "type": "function",
        "z": "9941dd1769d8bb1b",
        "name": "Inject context",
        "func": "const toInject = Object.fromEntries(\n    env.get(\"Keys\").map(k => [k, flow.get(`$parent.${k}`)])\n);\n\nmsg = {\n    ...msg,\n    ...toInject\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ab9338fdefba2fb8",
        "type": "function",
        "z": "b84666ab835bd991",
        "name": "Update context",
        "func": "env.get(\"Keys\").forEach( k => flow.set(`$parent.${k}`, msg[k]))\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "3dddb56b9baedbc9",
        "type": "uib-tag",
        "z": "acae0224279dfa17",
        "name": "",
        "topic": "",
        "tag": "style",
        "tagSource": "",
        "tagSourceType": "str",
        "parent": "head",
        "parentSource": "",
        "parentSourceType": "str",
        "elementId": "Id",
        "elementIdSourceType": "env",
        "position": "last",
        "positionSourceType": "str",
        "slotSourceProp": "styleContent",
        "slotSourcePropType": "msg",
        "attribsSource": "{\"type\": \"text/css\"}",
        "attribsSourceType": "json",
        "slotPropMarkdown": false,
        "x": 340,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f6e35d191a536486",
        "type": "function",
        "z": "acae0224279dfa17",
        "name": "decode buffer",
        "func": "\nconst buffer = env.get('Style');\nmsg.styleContent = buffer.toString('utf-8');\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 180,
        "wires": [
            [
                "3dddb56b9baedbc9"
            ]
        ]
    },
    {
        "id": "219c0b285ee459dd",
        "type": "function",
        "z": "6d317c39edd7ba27",
        "name": "Provide SSE",
        "func": "// Setup\n// const http = require('http');\n// const https = require('https');\n\nconst { Event } = msg.global;\n\nclass CustomEvent extends Event { \n  constructor(message, data) {\n    super(message, data)\n    this.detail = data?.detail\n  }\n}\n\nconst SSE = function (url, options) {\n  if (!(this instanceof SSE)) {\n    return new SSE(url, options);\n  }\n\n  if (!url) {\n    throw new Error('SSE - URL is required');\n  }\n\n  this.INITIALIZING = -1;\n  this.CONNECTING = 0;\n  this.OPEN = 1;\n  this.CLOSED = 2;\n\n  this.url = url;\n\n  options = options || {};\n  this.headers = options.headers || {};\n  this.payload = options.payload !== undefined ? options.payload : '';\n  this.method = options.method || (this.payload && 'POST' || 'GET');\n  this.withCredentials = !!options.withCredentials;\n  this.debug = !!options.debug;\n\n  this.body = this.headers['Content-Type'] === \"application/json\" ? JSON.stringify(this.payload) : this.payload.toString();\n\n  this.FIELD_SEPARATOR = ':';\n\n  this.listeners = {};\n\n  this.addEventListener = function(type, listener) {\n    if (this.listeners[type] === undefined) {\n      this.listeners[type] = [];\n    }\n\n    if (this.listeners[type].indexOf(listener) === -1) {\n      this.listeners[type].push(listener);\n    }\n  };\n\n  this.removeEventListener = function(type, listener) {\n    if (this.listeners[type] === undefined) {\n      return;\n    }\n\n    var filtered = [];\n    this.listeners[type].forEach(function(element) {\n      if (element !== listener) {\n        filtered.push(element);\n      }\n    });\n    if (filtered.length === 0) {\n      delete this.listeners[type];\n    } else {\n      this.listeners[type] = filtered;\n    }\n  };\n\n  this.dispatchEvent = function(e) {\n    if (!e) {\n      return true;\n    }\n\n    if (this.debug) {\n      console.debug(e);\n    }\n\n    e.source = this;\n\n    var onHandler = 'on' + e.type;\n    if (this.hasOwnProperty(onHandler)) {\n      this[onHandler].call(this, e);\n      if (e.defaultPrevented) {\n        return false;\n      }\n    }\n\n    if (this.listeners[e.type]) {\n      return this.listeners[e.type].every(function(callback) {\n        callback(e);\n        return !e.defaultPrevented;\n      });\n    }\n\n    return true;\n  };\n\n  this._setReadyState = function(state) {\n    var event = new CustomEvent('readystatechange');\n    event.readyState = state;\n    this.readyState = state;\n    this.dispatchEvent(event);\n  };\n\n  this._onStreamFailure = function(e) {\n    var event = new CustomEvent('error');\n    event.data = e.message;\n    this.dispatchEvent(event);\n    this.close();\n  }\n\n  this._onStreamAbort = function(e) {\n    this.dispatchEvent(new CustomEvent('abort'));\n    this.close();\n  }\n  \n  this._onStreamProgress = function(response) {\n    if (this.readyState == this.CONNECTING) {\n      this.dispatchEvent(new CustomEvent('open'));\n      this._setReadyState(this.OPEN);\n    }\n\n    var data = response.toString();\n    this.dispatchEvent(this._parseEventChunk(data));\n  };\n\n  this._onStreamLoaded = function(response) {\n    this._onStreamProgress(response);\n  };\n\n  this._parseEventChunk = function(chunk) {\n    if (!chunk || chunk.length === 0) {\n      return null;\n    }\n\n    if (this.debug) {\n      console.debug(chunk);\n    }\n\n    var e = {'id': null, 'retry': null, 'data': null, 'event': null};\n    chunk.split(/\\n|\\r\\n|\\r/).forEach(function(line) {\n      var index = line.indexOf(this.FIELD_SEPARATOR);\n      var field, value;\n      if (index > 0) {\n        var skip = (line[index+1] === ' ') ? 2 : 1;\n        field = line.substring(0, index);\n        value = line.substring(index + skip);\n      } else if (index < 0) {\n        field = line;\n        value = '';\n      } else {\n        return;\n      }\n\n      if (!(field in e)) {\n        return;\n      }\n\n      if (field === 'data' && e[field] !== null) {\n          e['data'] += \"\\n\" + value;\n      } else {\n        e[field] = value;\n      }\n    }.bind(this));\n\n    var event = new CustomEvent(e.event || 'message');\n    event.data = e.data || '';\n    event.id = e.id;\n    return event;\n  };\n\n  this._checkStreamClosed = function() {\n    if (this.readyState === this.CLOSED) {\n      return;\n    }\n  };\n\n  this.stream = function() {\n    if (this.readyState === this.CONNECTING) {\n      node.error(\"Already connecting.\");\n      return;\n    }\n\n    node.log(\"Request start\");\n      \n    this._setReadyState(this.CONNECTING);\n\n    var protocol = this.url.startsWith('https') ? https : http;\n    var req = protocol.request(this.url, {\n      method: this.method,\n      headers: this.headers\n    }, (res) => {\n      const onError = (e) => {\n        node.log(`Response error: ${e}`)\n        this._onStreamFailure(e);\n      };\n      if (res.statusCode >= 400) {\n        onError(new Error(`Received status: ${res.statusCode}`));\n      }\n      res.on('error', onError);\n      res.on('data', (chunk) => {\n        try {\n          //node.log(\"Receiving data\");\n          this._onStreamProgress(chunk);\n        }\n        catch (e) {\n          node.error(e);\n          node.error(e.stack);\n        }\n      });\n      res.on('end', () => {\n        try {\n          node.log(\"Request end\");\n          this.close();\n        }\n        catch (e) {\n          node.error(e);\n          node.error(e.stack);\n        }\n      });\n    });\n\n    req.on('timeout', e => node.log(`Request timeout: ${e}`));\n\n    req.on('error', (e) => {\n      try {\n        node.error(`Reqeust error: ${e}`);\n        this._onStreamFailure(e);\n      }\n      catch (e) {\n        node.error(e);\n        node.error(e.stack);\n      }\n    });\n\n    if ([\"POST\", \"PUT\", \"PATCH\"].includes(this.method)) {\n        node.log(`Writing body: ${this.body}`);\n        // Write data to request body\n        req.write(this.body);\n    }\n\n    req.end();\n  };\n\n  this.close = function() {\n    if (this.readyState === this.CLOSED) {\n      return;\n    }\n\n    this._setReadyState(this.CLOSED);\n  };\n\n  if (options.start === undefined || options.start) {\n    this.stream();\n  }\n};\n\nreturn {\n  ...msg,\n  SSE\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "http",
                "module": "http"
            },
            {
                "var": "https",
                "module": "https"
            }
        ],
        "x": 410,
        "y": 200,
        "wires": [
            [
                "cb3d5d88fb5e1a7c"
            ]
        ]
    },
    {
        "id": "1cc3136b62faf259",
        "type": "provide-global",
        "z": "6d317c39edd7ba27",
        "name": "",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "219c0b285ee459dd"
            ]
        ]
    },
    {
        "id": "cb3d5d88fb5e1a7c",
        "type": "function",
        "z": "6d317c39edd7ba27",
        "name": "Send request",
        "func": "const id = env.get(\"Id\");\nconst url = env.get(\"Url\")\nconst defaultOptions = env.get(\"Options\")\n\nconst msgOptions = msg[id] ?? {};\n\n// check msg for more options\nconst options = {\n  ...defaultOptions,\n  ...msgOptions,\n  headers: {\n    ...defaultOptions.headers,\n    ...msgOptions.headers\n  }\n}\n\nnode.log(`Sending request: ${id} - ${url}`);\nnode.log(`Options: ${JSON.stringify(options, undefined, 2)}`);\n\nconst source = msg.SSE(url, options);\nmsg.source = source;\n\nsource.addEventListener('message', function(e) {\n  // Assuming we receive JSON-encoded data payloads:\n  const payload = e.data;\n  node.send({\n    type: 'sse-message',\n    payload\n  });\n});\n\nlet error = null;\nsource.addEventListener('error', e => {\n  error = e;\n  node.send({\n    type: 'sse-error',\n    error\n  });\n})\n\nconst states = Object.fromEntries(\n  [\"INITIALIZING\", \"CONNECTING\", \"OPEN\", \"CLOSED\"].map(it => [source[it], it])\n);\n\nconst wait = t => new Promise(r => setTimeout(r, t));\n\nsource.addEventListener('readystatechange', async e => {\n  if (e.readyState === source.CLOSED) {\n    // wait 1 second to allow Node-RED to finish\n    // processing any streamed content that just came in\n    //await wait(1000);\n    node.send({\n      type: 'sse-closed'\n    })\n  }\n});\n\nmsg.type = 'sse-connecting';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f4b58a4a17cbb986",
        "type": "function",
        "z": "6dcab040eb85e22f",
        "name": "Init",
        "func": "// Allow combination of msg._ui and this node allowing chaining of the nodes\nif (!Array.isArray(msg._ui)) {\n    msg._ui = [];\n}\n\n// If no mode specified, we assume the desire is to update (since a removal attempt with nothing to remove is safe)\nif ( !msg.mode ) msg.mode = 'update'\n\n// If mode is remove, then simply do that and return\nif ( msg.mode === 'delete' || msg.mode === 'remove' ) {\n    if (!msg.elementId) {\n        node.warn('[uib-element:buildUi] Cannot remove element as no HTML ID provided')\n        return\n    }\n\n    msg._ui.push({\n        'method': 'removeAll',\n        'components': [\n            `#${msg.elementId}`,\n        ]\n    })\n\n    return msg;\n}\n\n// If no HMTL ID is specified & not deleting, then always ADD\nif (!msg.elementId) {\n    msg.mode = 'add'\n}\n\n// Otherwise ...\n\n// Add the outer component which is always a div\nmsg._ui.push({\n    'method': msg.mode === 'add' ? 'add' : 'replace',\n    'components': [],\n} )\nmsg.parent = msg._ui[msg._ui.length - 1]\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d0cfb4221dcbb3c0",
        "type": "subflow:6dcab040eb85e22f",
        "z": "8bc504703109d530",
        "name": "",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "20670401d0bab762"
            ]
        ]
    },
    {
        "id": "217365185f9c2bc4",
        "type": "function",
        "z": "8bc504703109d530",
        "name": "Render App - Props",
        "func": "msg.elementId = env.get(\"HTML Id\");\nmsg.parentElement = env.get(\"Parent\");\nmsg.heading = env.get(\"Title\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 200,
        "wires": [
            [
                "d0cfb4221dcbb3c0"
            ]
        ]
    },
    {
        "id": "c0d9c6af807061b7",
        "type": "function",
        "z": "8bc504703109d530",
        "name": "Render App",
        "func": "const parent = msg.parent;\n\n// Add the form tag\nparent.components.push({\n    'type': 'form',\n    'parent': msg.parentElement,\n    'id': msg.elementId,\n    'components': [],\n    'attributes': {\n        'class': 'chat-ui'\n    },\n})\n\n// Convenient references\nconst frmBody = parent.components[parent.components.length - 1]\n\n// Add the header\nfrmBody.components.push({\n    'type': 'h1',\n    'slot': msg.heading,\n})\n\n// Add the chat history div to the form body components\nfrmBody.components.push(...msg.provideUi.chatElements(msg.elementId, msg.history))\n\n// Add a div to wrap the textarea and send button\nconst formDiv = {\n    'type': 'div',\n    'attributes': {\n        'class': 'message-form'\n    },\n    'components': msg.provideUi.formElements(msg.elementId),\n}\n\n// Add the message div to the form body components\nfrmBody.components.push(formDiv)\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "20670401d0bab762",
        "type": "style-ui",
        "z": "8bc504703109d530",
        "name": "chat-styles",
        "elementId": "chat-style-01",
        "parent": "head",
        "slotContent": "@keyframes spin {\r\n  0% { transform: rotate(0deg); }\r\n  100% { transform: rotate(360deg); }\r\n}\r\n\r\n.loading {\r\n  border: 4px solid #f3f3f3;\r\n  border-top: 4px solid #3498db;\r\n  border-radius: 50%;\r\n  display: block;\r\n  width: 50px;\r\n  height: 50px;\r\n  animation: spin 2s linear infinite;\r\n}\r\n\r\n.chat-ui {\r\n    display: flex;\r\n}\r\n\r\nh1 {\r\n    text-align: center;\r\n}\r\n\r\n.chat-history {\r\n    display: block;\r\n    flex: 1;\r\n    overflow: auto;\r\n}\r\n\r\n.chat-history .role {\r\n    font-weight: bold;\r\n    text-transform: capitalize;\r\n}\r\n\r\n.chat-history .role:after {\r\n    content: \": \";\r\n}\r\n\r\n.message-form {\r\n    display: flex;\r\n    flex: 0;\r\n    min-height: 100px;\r\n    padding: 10px;\r\n}\r\n\r\n.message-form *:disabled {\r\n    opacity: .5;\r\n}\r\n\r\n.message-form textarea {\r\n    flex: 1;\r\n    padding: 10px;\r\n    height: 100%;\r\n}\r\n\r\n.message-form button {\r\n    width: 80px;\r\n    height: 100%;\r\n}\r\n",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "6bb0fb2e45d392f4"
            ]
        ]
    },
    {
        "id": "b7177543effbb937",
        "type": "switch",
        "z": "8bc504703109d530",
        "name": "message handler switch",
        "property": "type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "render-app",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "rerender-form",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "rerender-chat",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "rerender-current-message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "set-streaming-status",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 450,
        "y": 40,
        "wires": [
            [
                "217365185f9c2bc4"
            ],
            [
                "ac8535250d127390"
            ],
            [
                "deb6d0a5aba7c49a"
            ],
            [
                "d5bac2942fb8dc6b"
            ],
            [
                "9a0ff2c59fbf61eb"
            ],
            [
                "217365185f9c2bc4"
            ]
        ]
    },
    {
        "id": "ac8535250d127390",
        "type": "function",
        "z": "8bc504703109d530",
        "name": "Rerender form - Props",
        "func": "msg.elementId = env.get(\"HTML Id\");\nmsg.mode = \"replace\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 200,
        "wires": [
            [
                "e1ea016d73655065"
            ]
        ]
    },
    {
        "id": "e1ea016d73655065",
        "type": "subflow:6dcab040eb85e22f",
        "z": "8bc504703109d530",
        "name": "",
        "x": 430,
        "y": 260,
        "wires": [
            [
                "8bdd3bbb579b90c3"
            ]
        ]
    },
    {
        "id": "05ad96f6e0c6b685",
        "type": "function",
        "z": "8bc504703109d530",
        "name": "Render form elements",
        "func": "const parent = msg.parent;\n\n// only if this event came from our form\nif (!(`${msg.elementId}-next-message` in (msg.payload ?? {}))) {\n    return;\n}\n\n// Add a div to wrap the textarea and send button\nparent.components.push(...msg.provideUi.formElements(msg.elementId));\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "9f2ff2da3dc12c89",
        "type": "subflow:30524eb290047e07",
        "z": "8bc504703109d530",
        "name": "Provide Form Elements",
        "x": 200,
        "y": 380,
        "wires": [
            [
                "c0d9c6af807061b7"
            ]
        ]
    },
    {
        "id": "8bdd3bbb579b90c3",
        "type": "subflow:30524eb290047e07",
        "z": "8bc504703109d530",
        "name": "Provide Form Elements",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "05ad96f6e0c6b685"
            ]
        ]
    },
    {
        "id": "deb6d0a5aba7c49a",
        "type": "function",
        "z": "8bc504703109d530",
        "name": "Rerender chat - Props",
        "func": "msg.elementId = env.get(\"HTML Id\");\nmsg.mode = \"replace\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 200,
        "wires": [
            [
                "c90f2e75f0f5f0dc"
            ]
        ]
    },
    {
        "id": "c90f2e75f0f5f0dc",
        "type": "subflow:6dcab040eb85e22f",
        "z": "8bc504703109d530",
        "name": "",
        "x": 710,
        "y": 260,
        "wires": [
            [
                "620d172d3ed909ae"
            ]
        ]
    },
    {
        "id": "99dca965fba88e8c",
        "type": "function",
        "z": "8bc504703109d530",
        "name": "Render chat",
        "func": "const parent = msg.parent;\n\n// Add the chat history div to the form body components\nparent.components.push(...msg.provideUi.chatElements(msg.elementId, msg.history))\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6bb0fb2e45d392f4",
        "type": "subflow:296147c1455bbb26",
        "z": "8bc504703109d530",
        "name": "Provide Chat Elements",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "9f2ff2da3dc12c89"
            ]
        ]
    },
    {
        "id": "620d172d3ed909ae",
        "type": "subflow:296147c1455bbb26",
        "z": "8bc504703109d530",
        "name": "Provide Chat Elements",
        "x": 740,
        "y": 300,
        "wires": [
            [
                "99dca965fba88e8c"
            ]
        ]
    },
    {
        "id": "9a0ff2c59fbf61eb",
        "type": "function",
        "z": "8bc504703109d530",
        "name": "Set streaming status - Props",
        "func": "msg.elementId = env.get(\"HTML Id\");\nmsg.mode = \"replace\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 200,
        "wires": [
            [
                "28770cc48cb98ae1"
            ]
        ]
    },
    {
        "id": "28770cc48cb98ae1",
        "type": "subflow:6dcab040eb85e22f",
        "z": "8bc504703109d530",
        "name": "",
        "x": 1350,
        "y": 260,
        "wires": [
            [
                "aaa8dc0f96c695f4"
            ]
        ]
    },
    {
        "id": "92d3f952d628ae59",
        "type": "function",
        "z": "8bc504703109d530",
        "name": "Render form elements",
        "func": "const parent = msg.parent;\n\nconst elements = msg.provideUi.formElements(msg.elementId)\n\nif (msg.history.streaming) {\n    elements.forEach(it => {\n        it.attributes = {\n            ...it.attributes,\n            disabled: \"disabled\"\n        }\n    });\n\n    const button = elements.find(it => it.id === `${msg.elementId}-send-button`);\n\n    button.slot = `\n        <span class=\"loading\"></span>\n    `\n}\n\n// Add a div to wrap the textarea and send button\nparent.components.push(...elements);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "aaa8dc0f96c695f4",
        "type": "subflow:30524eb290047e07",
        "z": "8bc504703109d530",
        "name": "Provide Form Elements",
        "x": 1380,
        "y": 300,
        "wires": [
            [
                "92d3f952d628ae59"
            ]
        ]
    },
    {
        "id": "d5bac2942fb8dc6b",
        "type": "function",
        "z": "8bc504703109d530",
        "name": "Rerender current message - Props",
        "func": "msg.elementId = env.get(\"HTML Id\");\nmsg.mode = \"replace\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 200,
        "wires": [
            [
                "987c5653dd8453ec"
            ]
        ]
    },
    {
        "id": "987c5653dd8453ec",
        "type": "subflow:6dcab040eb85e22f",
        "z": "8bc504703109d530",
        "name": "",
        "x": 990,
        "y": 260,
        "wires": [
            [
                "6c37c3c89c996068"
            ]
        ]
    },
    {
        "id": "90188a15c9e8124a",
        "type": "function",
        "z": "8bc504703109d530",
        "name": "Render chat",
        "func": "const parent = msg.parent;\n\n// we are already steaming, find our chat\nconst current = msg.history.entries.find(it => it.id === msg.history.streaming);\n\nparent.components.push({\n    'type': 'span',\n    'id': `message-${current.id}`,\n    'slot': msg.parseMarkdown(current.content),\n    'attributes': {\n        'class': 'message'\n    }\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6c37c3c89c996068",
        "type": "subflow:ae4739904e91e32d",
        "z": "8bc504703109d530",
        "name": "",
        "x": 1030,
        "y": 300,
        "wires": [
            [
                "90188a15c9e8124a"
            ]
        ]
    },
    {
        "id": "dc8928d34ef931cc",
        "type": "function",
        "z": "30524eb290047e07",
        "name": "Form elements",
        "func": "if (!msg.provideUi) {\n    msg.provideUi = {};\n}\nmsg.provideUi.formElements = (elementId) => [\n    {\n        'type': 'textarea',\n        'id': `${elementId}-next-message`,\n        'attributes': {\n            'placeholder': 'Type your message here...',\n        },\n    },\n    {\n        'type': 'button',\n        'id': `${elementId}-send-button`,\n        'attributes': {\n            type: 'button',\n            title: 'Send the form data back to Node-RED'\n        },\n        'events': {\n            click: 'uibuilder.eventSend'\n        },\n        'slot': `<svg xmlns=\"http://www.w3.org/2000/svg\"\n            viewBox=\"0 0 512 512\">\n        <!--!Font Awesome Free 6.5.1 by @fontawesome -\n            https://fontawesome.com License -\n            https://fontawesome.com/license/free Copyright 2024\n            Fonticons, Inc.-->\n        <path fill=\"#74C0FC\" d=\"M498.1 5.6c10.1 7 15.4 19.1 13.5\n            31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284\n            427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160\n            480V396.4c0-4 1.5-7.8 4.2-10.7L331.8\n            202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7\n            316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8\n            16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z\"/>\n        </svg>`,\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c6161498694d0ff4",
        "type": "function",
        "z": "296147c1455bbb26",
        "name": "Chat elements",
        "func": "if (!msg.provideUi) {\n    msg.provideUi = {};\n}\n\nmsg.provideUi.chatElements = (elementId, history) => {\n    // Get chat history from msg.chat.history property\n    // The history is messages from an OpenAI API, which is an array of message objects\n    // Each message object has 'role' and 'content' properties\n    let chatHistory = [];\n    if (history && Array.isArray(history.entries)) {\n        chatHistory = history.entries;\n    }\n\n    // Create the chat history div\n    const chatHistoryDiv = {\n        'type': 'div',\n        'id': `${elementId}-chat-history`,\n        'attributes': {\n            'class': 'chat-history'\n        },\n        'components': [],\n    }\n\n    // Add the chat history to the chat history div with separate spans for role and message\n    chatHistory.forEach(message => {\n        chatHistoryDiv.components.push({\n            'type': 'p',\n            'id': `entry-${message.id}`,\n            'attributes': {\n                'class': 'entry'\n            },\n            'components': [\n                {\n                    'type': 'span',\n                    'slot': message.role,\n                    'attributes': {\n                        'class': 'role'\n                    }\n                },\n                {\n                    'type': 'span',\n                    'id': `message-${message.id}`,\n                    'slot': msg.parseMarkdown(message.content),\n                    'attributes': {\n                        'class': 'message'\n                    }\n                }\n            ],\n        })\n    });\n\n    return [chatHistoryDiv];\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "createDOMPurify",
                "module": "dompurify"
            },
            {
                "var": "marked",
                "module": "marked"
            },
            {
                "var": "jsdom",
                "module": "jsdom"
            }
        ],
        "x": 280,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6ca6b11a4f65ca27",
        "type": "subflow:ae4739904e91e32d",
        "z": "296147c1455bbb26",
        "name": "",
        "x": 310,
        "y": 200,
        "wires": [
            [
                "c6161498694d0ff4"
            ]
        ]
    },
    {
        "id": "ee1cd19f0dfc59c0",
        "type": "subflow:6d317c39edd7ba27",
        "z": "a59054999730c251",
        "name": "Model request",
        "env": [
            {
                "name": "Id",
                "value": "Id",
                "type": "env"
            },
            {
                "name": "Url",
                "value": "${BaseUrl}/v1/chat/completions",
                "type": "env"
            },
            {
                "name": "Options",
                "value": "{\"method\":\"POST\",\"headers\":{\"Content-Type\":\"application/json\"}}",
                "type": "json"
            },
            {
                "name": "options",
                "value": "{\"method\": \"POST\"}",
                "type": "json"
            }
        ],
        "x": 510,
        "y": 520,
        "wires": [
            [
                "e088f9272a4006ae",
                "025abec7481ffd22"
            ]
        ]
    },
    {
        "id": "462e2fcb4d95a192",
        "type": "function",
        "z": "a59054999730c251",
        "name": "Build model request",
        "func": "// we need both a prompt and a chat\nif (!msg.prompt || typeof msg.prompt != \"string\") {\n    return {\n        type: \"model-error\",\n        error: \"OpenAIChatCompletionsStreaming - Prompt is required to run this model.\"\n    };\n}\n\nif (!msg.history || !Array.isArray(msg.history.entries)) {\n    return {\n        type: \"model-error\",\n        error: \"OpenAIChatCompletionsStreaming - History is required to run this model.\"\n    };\n}\n\n// we have both a prompt and history, build the request payload\nconst id = env.get(\"Id\");\n\nmsg[id] = {\n    payload: {\n        \"messages\": [\n            {\n                \"role\": \"system\",\n                \"content\": msg.prompt\n            },\n            ...msg.history.entries.map(it => ({\n                role: it.role,\n                content: it.content\n            }))\n        ],\n        \"temperature\": env.get(\"Temperature\"),\n        \"stop\": env.get(\"Stop\") || null,\n        \"stream\": true\n    }\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "d47e0ec6ecc54b3d"
            ]
        ]
    },
    {
        "id": "e088f9272a4006ae",
        "type": "switch",
        "z": "a59054999730c251",
        "name": "",
        "property": "type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sse-connecting",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sse-message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sse-closed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sse-error",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "model-error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 730,
        "y": 660,
        "wires": [
            [
                "5b77260b6c087625"
            ],
            [
                "73663883bc2ce581"
            ],
            [
                "fc0e823bcc5447c9"
            ],
            [
                "277a7bcc08d2cc66"
            ],
            [
                "277a7bcc08d2cc66"
            ]
        ]
    },
    {
        "id": "5b77260b6c087625",
        "type": "function",
        "z": "a59054999730c251",
        "name": "Send Streaming Status CONNECTING",
        "func": "\nreturn {\n    action: \"model-streaming-status\",\n    state: \"CONNECTING\"\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "73663883bc2ce581",
        "type": "function",
        "z": "a59054999730c251",
        "name": "Send Streaming Content",
        "func": "// parse our message\nlet content = ''\ntry {\n    const response = JSON.parse(msg.payload);\n    content = response.choices[0].delta.content;\n}\ncatch (e) {\n    // note this, but do nothing\n    node.log(`Model - Error parsing JSON: ${e}`);\n    return;\n}\n\n// if we have no content\nif (!content) {\n    // do nothing\n    return;\n}\n\nreturn {\n    action: \"model-streaming-content\",\n    content\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 640,
        "wires": [
            [
                "b02f3649626d6560"
            ]
        ]
    },
    {
        "id": "fc0e823bcc5447c9",
        "type": "function",
        "z": "a59054999730c251",
        "name": "Send Streaming Status DONE",
        "func": "\nreturn {\n    action: \"model-streaming-status\",\n    state: \"DONE\"\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 700,
        "wires": [
            [
                "b02f3649626d6560"
            ]
        ]
    },
    {
        "id": "277a7bcc08d2cc66",
        "type": "function",
        "z": "a59054999730c251",
        "name": "Send Model Error",
        "func": "\nreturn {\n    action: \"model-error\",\n    error: msg.error\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "d47e0ec6ecc54b3d",
        "type": "switch",
        "z": "a59054999730c251",
        "name": "Error check",
        "property": "type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "model-error",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "e088f9272a4006ae"
            ],
            [
                "ee1cd19f0dfc59c0"
            ]
        ]
    },
    {
        "id": "025abec7481ffd22",
        "type": "debug",
        "z": "a59054999730c251",
        "d": true,
        "name": "Raw model output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 560,
        "wires": []
    },
    {
        "id": "c5f09a313c4f789d",
        "type": "switch",
        "z": "a59054999730c251",
        "name": "Action",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "history-add-entry",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "c10a14138d2a4d16"
            ]
        ]
    },
    {
        "id": "ad39a1100824f942",
        "type": "switch",
        "z": "a59054999730c251",
        "name": "history-add-entry role",
        "property": "newEntryRole",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "user",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "462e2fcb4d95a192"
            ]
        ]
    },
    {
        "id": "c10a14138d2a4d16",
        "type": "function",
        "z": "a59054999730c251",
        "name": "Set new entry role",
        "func": "msg.newEntryRole = msg.newEntry.role;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "ad39a1100824f942"
            ]
        ]
    },
    {
        "id": "91b8f324ded5c846",
        "type": "batch",
        "z": "a59054999730c251",
        "name": "",
        "mode": "count",
        "count": 10,
        "overlap": 0,
        "interval": "1",
        "allowEmptySequence": false,
        "topics": [],
        "x": 480,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "b02f3649626d6560",
        "type": "function",
        "z": "a59054999730c251",
        "name": "Batch",
        "func": "const batchSize = env.get(\"Batch\");\n\nlet messageBuffer = context.get(\"messageBuffer\");\nif (!messageBuffer) {\n    messageBuffer = []\n}\n\nconst makeBatch = () => {\n    const batchedMessage = {\n        action: messageBuffer[0].action,\n        content: messageBuffer.reduce((content, message) => content + message.content, \"\")\n    };\n    context.set(\"messageBuffer\", []);\n    return batchedMessage;\n}\n\n// if we are stopping\nif (msg.action == \"model-streaming-status\" && msg.state == \"DONE\") {\n    // send the rest of our current batch before sending our status\n    const messages = [msg];\n    if (messageBuffer.length > 0) {\n        messages.unshift(makeBatch());\n    }\n    return [messages];\n}\n\nmessageBuffer.push(msg);\ncontext.set(\"messageBuffer\", messageBuffer);\nif (messageBuffer.length === batchSize) {\n    return makeBatch();\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "3b2ca8934fb0ccd7",
        "type": "function",
        "z": "2b3efcc977e88d91",
        "g": "3cdc7422abfbe82e",
        "name": "Re-render chat on message",
        "func": "msg.type = \"rerender-current-message\"\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 340,
        "wires": [
            [
                "24d6b22fbb3331ef"
            ]
        ]
    },
    {
        "id": "b07e294259fdd664",
        "type": "function",
        "z": "2b3efcc977e88d91",
        "g": "2ec09f072ab0b146",
        "name": "Render streaming status",
        "func": "return {\n    type: \"set-streaming-status\",\n    history: msg.history\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 120,
        "wires": [
            [
                "24d6b22fbb3331ef"
            ]
        ]
    },
    {
        "id": "24d6b22fbb3331ef",
        "type": "subflow:8bc504703109d530",
        "z": "2b3efcc977e88d91",
        "g": "573a66c74ad47252",
        "name": "chat-ui",
        "env": [
            {
                "name": "HTML Id",
                "value": "chat-01",
                "type": "str"
            }
        ],
        "x": 430,
        "y": 620,
        "wires": [
            [
                "ee56e84f7a5b03ef",
                "fd30589c82c22c62"
            ]
        ]
    },
    {
        "id": "fa93074c3844e72a",
        "type": "comment",
        "z": "2b3efcc977e88d91",
        "g": "573a66c74ad47252",
        "name": "Chat UI Renderer",
        "info": "",
        "x": 420,
        "y": 500,
        "wires": []
    },
    {
        "id": "e64c01c3ce72e42c",
        "type": "style-ui",
        "z": "2b3efcc977e88d91",
        "g": "573a66c74ad47252",
        "name": "chat styles",
        "elementId": "style-01",
        "parent": "head",
        "slotContent": "html, body {\r\n    height: 100%;\r\n    width: 100%;\r\n}\r\n\r\n.chat-ui {\r\n    margin: 50px auto;\r\n    height: 80%;\r\n    width: 80%;\r\n    max-width: 1000px;\r\n}\r\n",
        "x": 410,
        "y": 560,
        "wires": [
            [
                "24d6b22fbb3331ef"
            ]
        ]
    },
    {
        "id": "d0bc8cbbd38f96d0",
        "type": "function",
        "z": "2b3efcc977e88d91",
        "g": "ffdcd8798ee03933",
        "name": "Add to history",
        "func": "const chatId = \"chat-01\"\n\nconst nextMessage = msg.payload[`${chatId}-next-message`]\n\nif (!nextMessage) {\n    return;\n}\n\nmsg.entry = {\n    role: \"user\",\n    content: nextMessage\n};\n\nmsg.action = \"history-add-entry\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 700,
        "wires": [
            [
                "ed0c2d4f1d21f64c"
            ]
        ]
    },
    {
        "id": "ed0c2d4f1d21f64c",
        "type": "debug",
        "z": "2b3efcc977e88d91",
        "g": "ffdcd8798ee03933",
        "name": "User submissions",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 700,
        "wires": []
    },
    {
        "id": "b7a0d2554c54f30c",
        "type": "comment",
        "z": "2b3efcc977e88d91",
        "g": "ffdcd8798ee03933",
        "name": "Event handler: submit user message",
        "info": "",
        "x": 1020,
        "y": 640,
        "wires": []
    },
    {
        "id": "ec546330d29baba3",
        "type": "function",
        "z": "2b3efcc977e88d91",
        "g": "0e803c0423a03bad",
        "name": "Re-render form on event",
        "func": "if (msg._ui?.type === \"eventSend\") {\n    msg.type = \"rerender-form\"\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 880,
        "wires": [
            [
                "24d6b22fbb3331ef"
            ]
        ]
    },
    {
        "id": "96d1b37cfc101abc",
        "type": "comment",
        "z": "2b3efcc977e88d91",
        "g": "0e803c0423a03bad",
        "name": "Event handler: submit form",
        "info": "",
        "x": 990,
        "y": 820,
        "wires": []
    },
    {
        "id": "2f187dab7a1ae2ad",
        "type": "comment",
        "z": "2b3efcc977e88d91",
        "g": "1309c3c5cd6f1b74",
        "name": "App Controller",
        "info": "",
        "x": 610,
        "y": 760,
        "wires": []
    },
    {
        "id": "05af6ff6db82adba",
        "type": "comment",
        "z": "2b3efcc977e88d91",
        "g": "3cdc7422abfbe82e",
        "name": "Event handler: receive assistant message",
        "info": "",
        "x": 1040,
        "y": 280,
        "wires": []
    },
    {
        "id": "c5dcd2bf8b994fb8",
        "type": "comment",
        "z": "2b3efcc977e88d91",
        "g": "2ec09f072ab0b146",
        "name": "Event handler: receive streaming status",
        "info": "",
        "x": 1030,
        "y": 80,
        "wires": []
    },
    {
        "id": "f9339a39075c7450",
        "type": "switch",
        "z": "2b3efcc977e88d91",
        "name": "Action",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "history-init",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "history-add-entry",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "history-update-entry",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "history-update-streaming",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "e64c01c3ce72e42c"
            ],
            [
                "c8c9a2cca8781c5f"
            ],
            [
                "3b2ca8934fb0ccd7"
            ],
            [
                "b07e294259fdd664"
            ]
        ]
    },
    {
        "id": "b153a1db69fe018c",
        "type": "debug",
        "z": "2b3efcc977e88d91",
        "d": true,
        "name": "App inputs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "ee56e84f7a5b03ef",
        "type": "uibuilder",
        "z": "2b3efcc977e88d91",
        "g": "1309c3c5cd6f1b74",
        "name": "",
        "topic": "",
        "url": "chat-ui-213",
        "okToGo": true,
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "6.8.2",
        "showMsgUib": false,
        "title": "",
        "descr": "",
        "x": 620,
        "y": 820,
        "wires": [
            [
                "ec546330d29baba3",
                "d0bc8cbbd38f96d0"
            ],
            [
                "2c75870eb28bb7c5"
            ]
        ]
    },
    {
        "id": "2c75870eb28bb7c5",
        "type": "debug",
        "z": "2b3efcc977e88d91",
        "g": "1309c3c5cd6f1b74",
        "name": "UI Builder Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 880,
        "wires": []
    },
    {
        "id": "fd30589c82c22c62",
        "type": "debug",
        "z": "2b3efcc977e88d91",
        "d": true,
        "g": "573a66c74ad47252",
        "name": "UI Components Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 620,
        "wires": []
    },
    {
        "id": "e71f5a20f7b7837e",
        "type": "comment",
        "z": "2b3efcc977e88d91",
        "g": "8a3c592536de3111",
        "name": "Event handler: receive new message",
        "info": "",
        "x": 1020,
        "y": 460,
        "wires": []
    },
    {
        "id": "c8c9a2cca8781c5f",
        "type": "function",
        "z": "2b3efcc977e88d91",
        "g": "8a3c592536de3111",
        "name": "Re-render chat on message",
        "func": "msg.type = \"rerender-chat\"\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 520,
        "wires": [
            [
                "24d6b22fbb3331ef"
            ]
        ]
    },
    {
        "id": "e43978271213406b",
        "type": "change",
        "z": "ce6026c0ffde68ba",
        "name": "Inject chat",
        "rules": [
            {
                "t": "set",
                "p": "history",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "originalPayload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "filename",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 110,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "35a3d5114b4b55cc",
        "type": "subflow:6efc1af5415157df",
        "z": "ce6026c0ffde68ba",
        "name": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "f50b8ce9efb83f05"
            ]
        ]
    },
    {
        "id": "88750c0a7f0ea58c",
        "type": "change",
        "z": "ce6026c0ffde68ba",
        "name": "Preserve payload",
        "rules": [
            {
                "t": "set",
                "p": "originalPayload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "35a3d5114b4b55cc"
            ]
        ]
    },
    {
        "id": "2ddf48ef1acfb04e",
        "type": "function",
        "z": "ce6026c0ffde68ba",
        "name": "Parse historyDb file",
        "func": "try {\n    msg.payload = JSON.parse(msg.payload);\n}\ncatch (e) {\n    throw new Error(`Error parsing history file (${msg.historyDbFilename}): ${e} - content:\n    \n    \\`${msg.payload}\\`\n    `);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 240,
        "wires": [
            [
                "e43978271213406b"
            ]
        ]
    },
    {
        "id": "f50b8ce9efb83f05",
        "type": "function",
        "z": "ce6026c0ffde68ba",
        "name": "Read historyDb file",
        "func": "const { readFileSync } = fs;\n\nconst id = env.get(\"Id\") || msg.id;\nconst filename = msg.historyDbFilenames[id]\n\ntry {\n    msg.payload = readFileSync(filename).toString().trim();\n    if (!msg.payload) {\n        throw new Error(\"HistoryDb file empty.\");\n    }\n    node.log(`Parsed history file content: \\`${msg.payload}\\``);\n}\ncatch (e) {\n    throw new Error(`Error reading historyDb (id: ${id}) file (${filename}): ${e}`);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 130,
        "y": 200,
        "wires": [
            [
                "2ddf48ef1acfb04e"
            ]
        ]
    },
    {
        "id": "f2fd598a0898c772",
        "type": "change",
        "z": "680a38a9fc7ffbbc",
        "name": "Restore payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "originalPayload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "113d466ba0a54e9d",
        "type": "subflow:6efc1af5415157df",
        "z": "680a38a9fc7ffbbc",
        "name": "",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "7bc0341203c4233b"
            ]
        ]
    },
    {
        "id": "7bc0341203c4233b",
        "type": "change",
        "z": "680a38a9fc7ffbbc",
        "name": "Fetch history",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "history",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "d48c011c4080abfa"
            ]
        ]
    },
    {
        "id": "f906b3e6319be105",
        "type": "change",
        "z": "680a38a9fc7ffbbc",
        "name": "Preserve payload",
        "rules": [
            {
                "t": "set",
                "p": "originalPayload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 100,
        "wires": [
            [
                "113d466ba0a54e9d"
            ]
        ]
    },
    {
        "id": "d50cf6701b0d7752",
        "type": "function",
        "z": "680a38a9fc7ffbbc",
        "name": "Write historyDb file",
        "func": "const { writeFileSync } = fs;\n\nconst id = env.get(\"Id\") || msg.id;\nconst filename = msg.historyDbFilenames[id]\n\ntry {\n    writeFileSync(filename, msg.payload);\n}\ncatch (e) {\n    throw new Error(`Error writing historyDb file (${filename}): ${e}`);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 250,
        "y": 260,
        "wires": [
            [
                "f2fd598a0898c772"
            ]
        ]
    },
    {
        "id": "d48c011c4080abfa",
        "type": "function",
        "z": "680a38a9fc7ffbbc",
        "name": "Encode historyDb file",
        "func": "try {\n    msg.payload = JSON.stringify(msg.payload);\n}\ncatch (e) {\n    throw new Error(`Error encoding history file (${msg.historyDbFilename}): ${e} - content:\n    \n    \\`${msg.payload}\\`\n    `);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 220,
        "wires": [
            [
                "d50cf6701b0d7752"
            ]
        ]
    },
    {
        "id": "c6e2b0ab7145e11a",
        "type": "function",
        "z": "6efc1af5415157df",
        "name": "Get filename",
        "func": "msg.historyDbFilenames = global.get(\"historyDbFilenames\");\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "7b7768b80e1acc34",
        "type": "function",
        "z": "ae4739904e91e32d",
        "name": "provide parseMarkdown",
        "func": "const escapeHTML = str => str.replace(\n    /[&<>'\"]/g,\n    tag => ({\n        '&': '&amp;',\n        '<': '&lt;',\n        '>': '&gt;',\n        \"'\": '&#39;',\n        '\"': '&quot;'\n    }[tag])\n);\nconst DOMPurify = createDOMPurify(new jsdom.JSDOM('').window);\nmsg.parseMarkdown = (md) =>\n    DOMPurify.sanitize(marked.parse(escapeHTML(md)));\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "createDOMPurify",
                "module": "dompurify"
            },
            {
                "var": "marked",
                "module": "marked"
            },
            {
                "var": "jsdom",
                "module": "jsdom"
            }
        ],
        "x": 310,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "5ecc4c49da25a80b",
        "type": "switch",
        "z": "74bd10ee8e354d0a",
        "name": "Action",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "history-init",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "history-add-entry",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "history-update-entry",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "model-streaming-status",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "model-streaming-content",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 470,
        "y": 480,
        "wires": [
            [
                "f5e7eec49fcf570e"
            ],
            [
                "7249f13b4ba0284a"
            ],
            [],
            [
                "5cd0f799077a1cbe"
            ],
            [
                "1bce8e1d0eace47a"
            ]
        ]
    },
    {
        "id": "17e166dfd3532851",
        "type": "function",
        "z": "74bd10ee8e354d0a",
        "name": "Start streaming",
        "func": "// // check for any pending content\n// const pendingContent = context.get(\"pendingContent\") ?? '';\n// context.set(\"pendingContent\", '');\n\nconst newEntry = msg.historyOps(msg.history).insert({\n    role: \"assistant\",\n    content: ''\n});\n\nmsg.history.streaming = newEntry.id;\nmsg.action = \"history-update-streaming\";\nmsg.historyStreaming = msg.history.streaming;\n\nreturn [[\n  msg,\n  {\n    ...msg,\n    action: \"history-add-entry\",\n    newEntry\n  }\n]];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 480,
        "wires": [
            [
                "6fa0a1f2a8dfa0a6"
            ]
        ]
    },
    {
        "id": "1bce8e1d0eace47a",
        "type": "function",
        "z": "74bd10ee8e354d0a",
        "name": "Update streaming entry",
        "func": "// if we're not streaming yet\n// if (!msg.history.streaming) {\n//     // then add our content to pending\n//     let pending = context.get(\"pendingContent\") ?? '';\n//     pending += msg.content;\n//     context.set(\"pendingContent\", pending);\n//     return;\n// }\n\n// we are already steaming, find our chat\nconst current = msg.historyOps(msg.history).get(msg.history.streaming);\n\n// update our current chat with our new content\ncurrent.content += msg.content;\n\nmsg.action = \"history-update-entry\";\nmsg.updatedEntry = current;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 620,
        "wires": [
            [
                "6fa0a1f2a8dfa0a6"
            ]
        ]
    },
    {
        "id": "7249f13b4ba0284a",
        "type": "function",
        "z": "74bd10ee8e354d0a",
        "name": "Add to history",
        "func": "msg.newEntry = msg.historyOps(msg.history).insert(msg.entry);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 400,
        "wires": [
            [
                "6fa0a1f2a8dfa0a6"
            ]
        ]
    },
    {
        "id": "f5e7eec49fcf570e",
        "type": "function",
        "z": "74bd10ee8e354d0a",
        "g": "1ae11ef02f19ba42",
        "name": "Init",
        "func": "msg.id = env.get(\"Id\") || msg.historyId || `history-${Math.floor(Math.random() * 1000)}`;\nflow.set(\"Id\", msg.id);\n\nif (!msg.historyDbFilenames) {\n    msg.historyDbFilenames = {};\n}\n\nconst sourceFilename = env.get(\"SourceFilename\") || msg.historySourceFilename;\n\nif (env.get(\"New\") || !sourceFilename) {\n    msg.historyDbFilenames[msg.id] = `/data/db/history-${msg.timestamp}.json`;\n    msg.history = {\n        entries: [],\n        streaming: null\n    };\n    msg.initType = \"update\";\n}\nelse {\n    msg.historyDbFilenames[msg.id] = sourceFilename;\n    msg.initType = \"inject\";\n}\n\nglobal.set(\"historyDbFilenames\", msg.historyDbFilenames);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 240,
        "wires": [
            [
                "37cf58b736452c29"
            ]
        ]
    },
    {
        "id": "3039cd8559535cc4",
        "type": "subflow:680a38a9fc7ffbbc",
        "z": "74bd10ee8e354d0a",
        "g": "1ae11ef02f19ba42",
        "name": "",
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "1cfad4d12606eb35"
            ]
        ]
    },
    {
        "id": "37cf58b736452c29",
        "type": "switch",
        "z": "74bd10ee8e354d0a",
        "g": "1ae11ef02f19ba42",
        "name": "",
        "property": "initType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "inject",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "update",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 240,
        "wires": [
            [
                "e34397c8aec9b431"
            ],
            [
                "3039cd8559535cc4"
            ]
        ]
    },
    {
        "id": "e34397c8aec9b431",
        "type": "subflow:ce6026c0ffde68ba",
        "z": "74bd10ee8e354d0a",
        "g": "1ae11ef02f19ba42",
        "name": "",
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "1cfad4d12606eb35"
            ]
        ]
    },
    {
        "id": "5cd0f799077a1cbe",
        "type": "switch",
        "z": "74bd10ee8e354d0a",
        "name": "Streaming Statuses",
        "property": "state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CONNECTING",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DONE",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 500,
        "wires": [
            [
                "17e166dfd3532851"
            ],
            [
                "93f4adc1d2f5c323"
            ]
        ]
    },
    {
        "id": "93f4adc1d2f5c323",
        "type": "function",
        "z": "74bd10ee8e354d0a",
        "name": "Stop streaming",
        "func": "// we are streaming, toggle it off\nmsg.history.streaming = null;\nmsg.action = \"history-update-streaming\";\nmsg.historyStreaming = msg.history.streaming;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 540,
        "wires": [
            [
                "6fa0a1f2a8dfa0a6"
            ]
        ]
    },
    {
        "id": "0d2c7f406e329ad7",
        "type": "subflow:ce6026c0ffde68ba",
        "z": "74bd10ee8e354d0a",
        "name": "",
        "x": 290,
        "y": 640,
        "wires": [
            [
                "5ecc4c49da25a80b"
            ]
        ]
    },
    {
        "id": "21642c9bdd34ddea",
        "type": "switch",
        "z": "74bd10ee8e354d0a",
        "name": "If history-init, Else",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "history-init",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 440,
        "wires": [
            [
                "5ecc4c49da25a80b"
            ],
            [
                "89c8968be6b620cf"
            ]
        ]
    },
    {
        "id": "6fa0a1f2a8dfa0a6",
        "type": "subflow:680a38a9fc7ffbbc",
        "z": "74bd10ee8e354d0a",
        "name": "",
        "x": 1420,
        "y": 420,
        "wires": [
            [
                "d1e76fbf62daa7ea",
                "1cfad4d12606eb35"
            ]
        ]
    },
    {
        "id": "7bb6dcdcff9df0bc",
        "type": "function",
        "z": "74bd10ee8e354d0a",
        "name": "Provide Operations",
        "func": "msg.historyOps = (history) => ({\n    get (id) {\n        return history.entries.find(it => it.id == id);\n    },\n\n    getAll () {\n        return history.entries;\n    },\n\n    insert (entry) {\n        const uniqueId = () => {\n            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {\n                const r = (Math.random() * 16) | 0,\n                    v = c == 'x' ? r : (r & 0x3) | 0x8;\n                return v.toString(16);\n            });\n        };\n\n        const newEntry = {\n            id: uniqueId(),\n            ...entry\n        };\n\n        history.entries.push(newEntry);\n\n        return newEntry;\n    },\n\n    update (id, entry) {\n        const existing = this.get(id);\n        Object.assign(existing, entry);\n        return existing;\n    },\n\n    delete (id) {\n        history.entries.splice(\n            history.entries.findIndex(it => it.id == id),\n            1\n        );\n        return id;\n    }\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 400,
        "wires": [
            [
                "21642c9bdd34ddea"
            ]
        ]
    },
    {
        "id": "1cfad4d12606eb35",
        "type": "change",
        "z": "74bd10ee8e354d0a",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "historyOps",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1660,
        "y": 380,
        "wires": [
            [
                "cb144a6f342ae0b4"
            ]
        ]
    },
    {
        "id": "eefd90d4e48a163f",
        "type": "debug",
        "z": "74bd10ee8e354d0a",
        "d": true,
        "name": "History In",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "cb144a6f342ae0b4",
        "type": "debug",
        "z": "74bd10ee8e354d0a",
        "d": true,
        "name": "History Out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1860,
        "y": 460,
        "wires": []
    },
    {
        "id": "3b954f62045abd5b",
        "type": "function",
        "z": "74bd10ee8e354d0a",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 985,
        "y": 800,
        "wires": [
            [
                "40c235a781afb37d"
            ]
        ],
        "icon": "font-awesome/fa-arrows",
        "l": false
    },
    {
        "id": "40c235a781afb37d",
        "type": "function",
        "z": "74bd10ee8e354d0a",
        "name": "Lock Db",
        "func": "// get our queue\nlet queue = context.get(\"queue\");\nif (!queue) {\n    queue = [];\n}\n\n// if this is a command\nif (msg.command) {\n    // if we are to release the lock\n    if (msg.command == \"release-lock\") {\n        // if we have any messages queued\n        if (queue.length > 0) {\n            // don't release the lock,\n            // instead, send the next message\n            const message = queue.shift();\n            context.set(\"queue\", queue);\n            return message;\n        }\n        else {\n            // there are no messages left to send,\n            // release the lock for the next message\n            context.set(\"lock\", false);\n            // don't send a message\n            return;\n        }\n    }\n}\n\n// if the db is locked for writing\nif (context.get(\"lock\")) {\n    // then queue our message\n    queue.push(msg);\n    context.set(\"queue\", queue);\n    // don't send a message\n    return;\n}\n\n// else, there is no lock the db,\n// lock it now so we can write to it\ncontext.set(\"lock\", true);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 600,
        "wires": [
            [
                "0d2c7f406e329ad7"
            ]
        ]
    },
    {
        "id": "d1e76fbf62daa7ea",
        "type": "function",
        "z": "74bd10ee8e354d0a",
        "name": "Release Db Lock",
        "func": "return {\n    command: \"release-lock\"\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 460,
        "wires": [
            [
                "3b954f62045abd5b"
            ]
        ]
    },
    {
        "id": "3cd23f12c0321b72",
        "type": "comment",
        "z": "74bd10ee8e354d0a",
        "g": "1ae11ef02f19ba42",
        "name": "Init",
        "info": "",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "89c8968be6b620cf",
        "type": "function",
        "z": "74bd10ee8e354d0a",
        "name": "Set msg.id",
        "func": "msg.id = flow.get(\"Id\");\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 560,
        "wires": [
            [
                "40c235a781afb37d"
            ]
        ]
    },
    {
        "id": "059dcd4099b7cba7",
        "type": "function",
        "z": "54dfdee937147952",
        "name": "Wait and track model errors",
        "func": "const step = msg.currentStep || flow.get(\"$parent.step\");\nconst waitStep = env.get(\"Step\") || msg.waitStep;\n\n// wait until we're on our configured step\nif (step != waitStep) {\n    return;\n}\n\n// fetch any errors we've tracked\nlet modelErrors = context.get(\"model-errors\");\nif (!modelErrors) {\n    modelErrors = [];\n}\n\n// if we're receiving an error, track it\nif (msg.action == \"model-error\") {\n    modelErrors.push(msg.error);\n}\n\ncontext.set(\"model-errors\", modelErrors);\n\n// if history streaming has stopped, the previous step is over\nif (\n    msg.action == 'history-update-streaming'\n    && msg.history.streaming === null\n    && modelErrors.length <= 0\n) {\n    return {\n        history: msg.history,\n        createUserPrompt: msg.createUserPrompt\n    };\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "5df2c26079ce2059",
        "type": "function",
        "z": "fe8f70709279ea90",
        "name": "Submit prompt",
        "func": "// if there is no prompt defined\nif (!msg.userPrompt) {\n    // then we've nothing to submit\n    return;\n}\n\nmsg.action = \"history-add-entry\"\nmsg.entry = {\n    role: \"user\",\n    content: msg.userPrompt\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 280,
        "wires": [
            [
                "41840610e4e89d4a"
            ]
        ]
    },
    {
        "id": "f1dd49b96b6320ae",
        "type": "subflow:54dfdee937147952",
        "z": "fe8f70709279ea90",
        "name": "Wait for step",
        "env": [
            {
                "name": "Step",
                "value": "",
                "type": "num"
            }
        ],
        "x": 610,
        "y": 280,
        "wires": [
            [
                "6d118588439f3f20"
            ]
        ]
    },
    {
        "id": "7577af8c47fbb0c0",
        "type": "switch",
        "z": "fe8f70709279ea90",
        "name": "If wait",
        "property": "Wait",
        "propertyType": "env",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 200,
        "wires": [
            [
                "4168d8d0055280f7"
            ]
        ]
    },
    {
        "id": "4168d8d0055280f7",
        "type": "function",
        "z": "fe8f70709279ea90",
        "name": "Set waitStep",
        "func": "msg.waitStep = env.get(\"Step\") - 1;\nmsg.currentStep = flow.get(\"$parent.step\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 240,
        "wires": [
            [
                "f1dd49b96b6320ae"
            ]
        ]
    },
    {
        "id": "f51a837541a082b4",
        "type": "switch",
        "z": "fe8f70709279ea90",
        "name": "If initHistory, else",
        "property": "InitHistoryId",
        "propertyType": "env",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 240,
        "wires": [
            [
                "99e2235264054d88"
            ],
            [
                "5df2c26079ce2059"
            ]
        ]
    },
    {
        "id": "99e2235264054d88",
        "type": "function",
        "z": "fe8f70709279ea90",
        "name": "Init history",
        "func": "msg.timestamp = Date.now();\nmsg.action = \"history-init\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 200,
        "wires": [
            [
                "41840610e4e89d4a"
            ]
        ]
    },
    {
        "id": "6d118588439f3f20",
        "type": "function",
        "z": "fe8f70709279ea90",
        "name": "Step Definition",
        "func": "const step = env.get(\"Step\");\nflow.set(\"$parent.step\", step);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 160,
        "wires": [
            [
                "4e066ebab1a1d747"
            ]
        ]
    },
    {
        "id": "927157a1bbfb5222",
        "type": "switch",
        "z": "fe8f70709279ea90",
        "name": "Action",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "step-go-to",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "step-start-at",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "history-init",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "377da1074003e5d8"
            ],
            [
                "f49be570901df986"
            ],
            [
                "7063c596169b4642"
            ],
            [
                "5cf402c9c6d7168c"
            ]
        ]
    },
    {
        "id": "7063c596169b4642",
        "type": "function",
        "z": "fe8f70709279ea90",
        "name": "If history-init Id",
        "func": "// if this history-init is not the id we're were supposed to init\nif (msg.id !== env.get(\"InitHistoryId\")) {\n    // then ignore it\n    return;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 440,
        "wires": [
            [
                "13ef5d74682cbdb4"
            ]
        ]
    },
    {
        "id": "13ef5d74682cbdb4",
        "type": "function",
        "z": "fe8f70709279ea90",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 945,
        "y": 440,
        "wires": [
            [
                "5df2c26079ce2059"
            ]
        ],
        "icon": "font-awesome/fa-arrows",
        "l": false
    },
    {
        "id": "4e066ebab1a1d747",
        "type": "function",
        "z": "fe8f70709279ea90",
        "name": "Create user prompt",
        "func": "// if we were given a prompt creator, execute it using\n// an existing history object (presumably from the previous step)\nif (typeof msg.createUserPrompt == \"function\") {\n    msg.userPrompt = msg.createUserPrompt(msg.history);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 200,
        "wires": [
            [
                "f51a837541a082b4"
            ]
        ]
    },
    {
        "id": "3bf29027c2f4417f",
        "type": "subflow:74bd10ee8e354d0a",
        "z": "fe8f70709279ea90",
        "name": "Load History",
        "env": [
            {
                "name": "New",
                "value": "false",
                "type": "bool"
            }
        ],
        "x": 390,
        "y": 360,
        "wires": [
            [
                "a661c60036f2dbf0"
            ]
        ]
    },
    {
        "id": "f49be570901df986",
        "type": "function",
        "z": "fe8f70709279ea90",
        "name": "Init loaded history",
        "func": "msg.action = \"history-init\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 320,
        "wires": [
            [
                "3bf29027c2f4417f"
            ]
        ]
    },
    {
        "id": "a661c60036f2dbf0",
        "type": "function",
        "z": "fe8f70709279ea90",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 685,
        "y": 360,
        "wires": [
            [
                "6d118588439f3f20"
            ]
        ],
        "icon": "font-awesome/fa-arrows",
        "l": false
    },
    {
        "id": "377da1074003e5d8",
        "type": "function",
        "z": "fe8f70709279ea90",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 305,
        "y": 160,
        "wires": [
            [
                "6d118588439f3f20"
            ]
        ],
        "icon": "font-awesome/fa-arrows",
        "l": false
    },
    {
        "id": "5cf402c9c6d7168c",
        "type": "function",
        "z": "fe8f70709279ea90",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 355,
        "y": 200,
        "wires": [
            [
                "7577af8c47fbb0c0"
            ]
        ],
        "icon": "font-awesome/fa-arrows",
        "l": false
    },
    {
        "id": "a3724b9be3e89428",
        "type": "debug",
        "z": "fe8f70709279ea90",
        "name": "Step In",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "8c88243096424bb9",
        "type": "debug",
        "z": "fe8f70709279ea90",
        "name": "Step Out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 100,
        "wires": []
    },
    {
        "id": "41840610e4e89d4a",
        "type": "function",
        "z": "fe8f70709279ea90",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1285,
        "y": 240,
        "wires": [
            [
                "0af02a1541b8ba63"
            ]
        ],
        "icon": "font-awesome/fa-arrows",
        "l": false
    },
    {
        "id": "0af02a1541b8ba63",
        "type": "function",
        "z": "fe8f70709279ea90",
        "name": "function 9",
        "func": "msg.parentStep = flow.get(\"$parent.step\");\nmsg.flowStep = flow.get(\"step\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 160,
        "wires": [
            [
                "8c88243096424bb9"
            ]
        ]
    },
    {
        "id": "c58191477f52b55b",
        "type": "function",
        "z": "fe8f70709279ea90",
        "name": "function 16",
        "func": "msg.debugParentStep = flow.get(\"$parent.step\");\nmsg.debugFlowStep = flow.get(\"step\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 140,
        "wires": [
            [
                "927157a1bbfb5222",
                "a3724b9be3e89428"
            ]
        ]
    },
    {
        "id": "040a413f7a91f093",
        "type": "change",
        "z": "3bb38f582155f29d",
        "name": "Go to",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "step-go-to",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 90,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "0c4e40bbf2650ed6",
        "type": "function",
        "z": "95c38d96d861b4c4",
        "name": "function 11",
        "func": "msg.parent = flow.get(\"prop\");\nmsg.rootFromParent = flow.get(\"$parent.prop\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 240,
        "wires": [
            [
                "c991d0349f4aea89"
            ]
        ]
    },
    {
        "id": "4c4840b662683b53",
        "type": "function",
        "z": "95c38d96d861b4c4",
        "name": "function 12",
        "func": "flow.set(\"prop\", 56);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 120,
        "wires": [
            [
                "0c4e40bbf2650ed6"
            ]
        ]
    },
    {
        "id": "c991d0349f4aea89",
        "type": "subflow:bb86be1bb99d0fec",
        "z": "95c38d96d861b4c4",
        "name": "",
        "x": 490,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a99b59b008d644da",
        "type": "function",
        "z": "bb86be1bb99d0fec",
        "name": "function 10",
        "func": "msg.rootFromChild = flow.get(\"$parent.$parent.prop\");\nmsg.parentFromChild = flow.get(\"$parent.prop\");\nmsg.child = flow.get(\"prop\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a04ad5963a5dbea7",
        "type": "function",
        "z": "bb86be1bb99d0fec",
        "name": "function 15",
        "func": "flow.set(\"prop\", 78);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 100,
        "wires": [
            [
                "a99b59b008d644da"
            ]
        ]
    },
    {
        "id": "c0c36621780669a4",
        "type": "subflow:a59054999730c251",
        "z": "9e23ccbf2e0608ed",
        "g": "0e1cb402b61eb646",
        "name": "Model - openai - localhost",
        "env": [
            {
                "name": "Id",
                "value": "openai-localhost",
                "type": "str"
            },
            {
                "name": "BaseUrl",
                "value": "http://host.docker.internal:8080",
                "type": "str"
            }
        ],
        "x": 410,
        "y": 480,
        "wires": [
            [
                "246a383da043e031",
                "b1093b3dfa80dbe3"
            ]
        ]
    },
    {
        "id": "948e1265a14409b8",
        "type": "debug",
        "z": "9e23ccbf2e0608ed",
        "g": "aaf9af66d3e39da8",
        "name": "Model Errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 640,
        "wires": []
    },
    {
        "id": "d7a8dd27f97a1a87",
        "type": "template",
        "z": "9e23ccbf2e0608ed",
        "name": "Prompt",
        "field": "prompt",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "You are a helpful chat bot that will perform any requested tasks to the best of your ability.",
        "output": "str",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "c0c36621780669a4",
                "977f9402195729c4"
            ]
        ]
    },
    {
        "id": "977f9402195729c4",
        "type": "subflow:a59054999730c251",
        "z": "9e23ccbf2e0608ed",
        "d": true,
        "g": "0e1cb402b61eb646",
        "name": "Model - genai - llama-cpp-llava",
        "env": [
            {
                "name": "Id",
                "value": "genai-llama-cpp-llava",
                "type": "str"
            },
            {
                "name": "BaseUrl",
                "value": "http://d2u7t6ixyjqeq5.cloudfront.net/genai-llama-cpp-llava",
                "type": "str"
            }
        ],
        "x": 430,
        "y": 520,
        "wires": [
            [
                "246a383da043e031",
                "b1093b3dfa80dbe3"
            ]
        ]
    },
    {
        "id": "a63ac3946c2843eb",
        "type": "debug",
        "z": "9e23ccbf2e0608ed",
        "g": "aaf9af66d3e39da8",
        "name": "Model Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 600,
        "wires": []
    },
    {
        "id": "5e149325f881f48b",
        "type": "subflow:2b3efcc977e88d91",
        "z": "9e23ccbf2e0608ed",
        "name": "",
        "x": 550,
        "y": 300,
        "wires": [
            [
                "246a383da043e031"
            ]
        ]
    },
    {
        "id": "8ec4c35df45a28c5",
        "type": "comment",
        "z": "9e23ccbf2e0608ed",
        "g": "0e1cb402b61eb646",
        "name": "Models",
        "info": "",
        "x": 350,
        "y": 420,
        "wires": []
    },
    {
        "id": "246a383da043e031",
        "type": "subflow:74bd10ee8e354d0a",
        "z": "9e23ccbf2e0608ed",
        "name": "",
        "env": [
            {
                "name": "SourceFilename",
                "value": "/data/db/bad-prompt-01.json",
                "type": "str"
            }
        ],
        "x": 310,
        "y": 220,
        "wires": [
            [
                "5e149325f881f48b",
                "d7a8dd27f97a1a87"
            ]
        ]
    },
    {
        "id": "b1093b3dfa80dbe3",
        "type": "switch",
        "z": "9e23ccbf2e0608ed",
        "g": "aaf9af66d3e39da8",
        "name": "Action",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "model-streaming-content",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "model-error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 620,
        "wires": [
            [
                "a63ac3946c2843eb"
            ],
            [
                "948e1265a14409b8"
            ]
        ]
    },
    {
        "id": "8e313642e9e9049a",
        "type": "inject",
        "z": "9e23ccbf2e0608ed",
        "name": "Start App",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "action",
                "v": "history-init",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "246a383da043e031"
            ]
        ]
    },
    {
        "id": "fe160cbe0df384e5",
        "type": "template",
        "z": "191694dad2850f37",
        "name": "System Prompt",
        "field": "prompt",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "You are a helpful chat bot that will perform any requested tasks to the best of your ability.",
        "output": "str",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "81b98c3380c57334"
            ]
        ]
    },
    {
        "id": "34fa053e9707e425",
        "type": "subflow:74bd10ee8e354d0a",
        "z": "191694dad2850f37",
        "g": "b1dd9777ee396bd7",
        "name": "Solution History",
        "env": [
            {
                "name": "Id",
                "value": "solution-01",
                "type": "str"
            }
        ],
        "x": 480,
        "y": 380,
        "wires": [
            [
                "8565c4a9a8c13312",
                "88802dbd1e8b0c57",
                "b38cd518b824c20d"
            ]
        ]
    },
    {
        "id": "9d0d59cbd0342094",
        "type": "inject",
        "z": "191694dad2850f37",
        "g": "0e31504694a6eb0c",
        "name": "Start Loop",
        "props": [
            {
                "p": "action",
                "v": "step-go-to",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 500,
        "y": 80,
        "wires": [
            [
                "b67aacc8e54e5106"
            ]
        ]
    },
    {
        "id": "c85c2df7d79465a0",
        "type": "subflow:a59054999730c251",
        "z": "191694dad2850f37",
        "d": true,
        "g": "83fd8826b0ec3bf4",
        "name": "Model - dummy sse",
        "env": [
            {
                "name": "Id",
                "value": "dummy-sse",
                "type": "str"
            },
            {
                "name": "BaseUrl",
                "value": "http://host.docker.internal:8091",
                "type": "str"
            },
            {
                "name": "Batch",
                "value": "10",
                "type": "num"
            }
        ],
        "x": 330,
        "y": 680,
        "wires": [
            [
                "d48b052e253b43c3"
            ]
        ]
    },
    {
        "id": "73516493eccdfd9d",
        "type": "subflow:a59054999730c251",
        "z": "191694dad2850f37",
        "g": "83fd8826b0ec3bf4",
        "name": "Model - genai - llama-cpp-llava",
        "env": [
            {
                "name": "Id",
                "value": "genai-llama-cpp-llava",
                "type": "str"
            },
            {
                "name": "BaseUrl",
                "value": "http://d2u7t6ixyjqeq5.cloudfront.net/genai-llama-cpp-llava",
                "type": "str"
            },
            {
                "name": "Batch",
                "value": "10",
                "type": "num"
            }
        ],
        "x": 370,
        "y": 760,
        "wires": [
            [
                "d48b052e253b43c3"
            ]
        ]
    },
    {
        "id": "f762ec936046e78f",
        "type": "comment",
        "z": "191694dad2850f37",
        "g": "83fd8826b0ec3bf4",
        "name": "Models",
        "info": "",
        "x": 290,
        "y": 620,
        "wires": []
    },
    {
        "id": "e451712bc8b52b18",
        "type": "debug",
        "z": "191694dad2850f37",
        "g": "ce1b28a464e3b3b3",
        "name": "Model Errors",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 880,
        "wires": []
    },
    {
        "id": "e2dd14f8d37e7a72",
        "type": "debug",
        "z": "191694dad2850f37",
        "g": "ce1b28a464e3b3b3",
        "name": "Model Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 840,
        "wires": []
    },
    {
        "id": "bb6dc487db2ce156",
        "type": "switch",
        "z": "191694dad2850f37",
        "g": "ce1b28a464e3b3b3",
        "name": "Action",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "model-streaming-content",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "model-error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 860,
        "wires": [
            [
                "e2dd14f8d37e7a72"
            ],
            [
                "e451712bc8b52b18"
            ]
        ]
    },
    {
        "id": "42cede20c9456a92",
        "type": "subflow:74bd10ee8e354d0a",
        "z": "191694dad2850f37",
        "g": "5dbdaf47523ce33a",
        "name": "Eval History",
        "env": [
            {
                "name": "Id",
                "value": "eval-01",
                "type": "str"
            }
        ],
        "x": 1270,
        "y": 640,
        "wires": [
            [
                "1f999e727d7bdcbd",
                "f79210375a125e74",
                "c9ba32537f7bc133",
                "6b036e58872195a7"
            ]
        ]
    },
    {
        "id": "b67aacc8e54e5106",
        "type": "function",
        "z": "191694dad2850f37",
        "g": "0e31504694a6eb0c",
        "name": "Prompt: Problem statement",
        "func": "msg.createUserPrompt = () =>\n    `I have 10K in savings currently in an investment account. My goal is to earn a passive income of $10K every month. Create a plan for me that will meet this goal. I'm looking for single tailored plan, not options to choose from. Give specific, brief instructions for carrying out this plan.`;\n\nflow.set(\"originalProblemStatement\", msg.createUserPrompt());\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 160,
        "wires": [
            [
                "8565c4a9a8c13312"
            ]
        ]
    },
    {
        "id": "81b98c3380c57334",
        "type": "function",
        "z": "191694dad2850f37",
        "g": "83fd8826b0ec3bf4",
        "name": "In",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 700,
        "wires": [
            [
                "c85c2df7d79465a0",
                "73516493eccdfd9d",
                "93859b35073996c8"
            ]
        ],
        "icon": "font-awesome/fa-address-card-o"
    },
    {
        "id": "d48b052e253b43c3",
        "type": "function",
        "z": "191694dad2850f37",
        "g": "83fd8826b0ec3bf4",
        "name": "Out",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 700,
        "wires": [
            [
                "bb6dc487db2ce156",
                "4135e1850bf3099c",
                "fe0f3fe28e08e2f0",
                "0800060d86e1ca55",
                "079bf5373fe5d58f",
                "b38cd518b824c20d"
            ]
        ],
        "icon": "font-awesome/fa-address-card-o"
    },
    {
        "id": "c533acab9a1bba89",
        "type": "comment",
        "z": "191694dad2850f37",
        "g": "0e31504694a6eb0c",
        "name": "Step 1: Problem Statement and Solution",
        "info": "",
        "x": 250,
        "y": 80,
        "wires": []
    },
    {
        "id": "8516a2d5188e142d",
        "type": "comment",
        "z": "191694dad2850f37",
        "g": "17a2a4d88505d1b2",
        "name": "Step 2: Evaluate Solution",
        "info": "",
        "x": 990,
        "y": 340,
        "wires": []
    },
    {
        "id": "5dd26b4eb51f86a8",
        "type": "comment",
        "z": "191694dad2850f37",
        "g": "3334e9dd5bf3557d",
        "name": "Step 3: Propose New Prompt",
        "info": "",
        "x": 1000,
        "y": 820,
        "wires": []
    },
    {
        "id": "0800060d86e1ca55",
        "type": "function",
        "z": "191694dad2850f37",
        "g": "0df36a8be0d76989",
        "name": "Prompt: Use proposed prompt",
        "func": "msg.createUserPrompt = (history) => {\n    const promptProposal = history.entries.slice(-1)[0].content;\n    let newPrompt;\n    try {\n        // don't search for full ending tag, since sometimes the last token gets cutoff\n        newPrompt = promptProposal.match(/<prompt>([\\s\\S]*?)<\\/pro/)[1].trim();\n        if (newPrompt.length < 1) {\n            throw new Error(\"Empty prompt extracted from proposal\")\n        }\n    }\n    catch (e) {\n        throw new Error(`Error extracting prompt from: \\`${promptProposal}\\``);\n    }\n\n    return newPrompt;\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 160,
        "wires": [
            [
                "a33731f7d26ff1d8"
            ]
        ]
    },
    {
        "id": "32fd036f241606a1",
        "type": "comment",
        "z": "191694dad2850f37",
        "g": "0df36a8be0d76989",
        "name": "Step 4: Restart w/ New Prompt",
        "info": "",
        "x": 1010,
        "y": 80,
        "wires": []
    },
    {
        "id": "0ad9554c20eb8dd0",
        "type": "switch",
        "z": "191694dad2850f37",
        "g": "b1dd9777ee396bd7",
        "name": "If Step 1",
        "property": "step",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 340,
        "wires": [
            [
                "34fa053e9707e425"
            ]
        ]
    },
    {
        "id": "4135e1850bf3099c",
        "type": "switch",
        "z": "191694dad2850f37",
        "g": "5dbdaf47523ce33a",
        "name": "If Step 2 or 3",
        "property": "step",
        "propertyType": "flow",
        "rules": [
            {
                "t": "btwn",
                "v": "2",
                "vt": "num",
                "v2": "3",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1270,
        "y": 600,
        "wires": [
            [
                "42cede20c9456a92"
            ]
        ]
    },
    {
        "id": "93859b35073996c8",
        "type": "subflow:a59054999730c251",
        "z": "191694dad2850f37",
        "d": true,
        "g": "83fd8826b0ec3bf4",
        "name": "Model - openai - localhost",
        "env": [
            {
                "name": "Id",
                "value": "openai-localhost",
                "type": "str"
            },
            {
                "name": "BaseUrl",
                "value": "http://host.docker.internal:8080",
                "type": "str"
            }
        ],
        "x": 350,
        "y": 720,
        "wires": [
            [
                "d48b052e253b43c3"
            ]
        ]
    },
    {
        "id": "8565c4a9a8c13312",
        "type": "subflow:fe8f70709279ea90",
        "z": "191694dad2850f37",
        "g": "0e31504694a6eb0c",
        "name": "Step 1",
        "env": [
            {
                "name": "Step",
                "value": "1",
                "type": "num"
            },
            {
                "name": "InitHistoryId",
                "value": "solution-01",
                "type": "str"
            },
            {
                "name": "Wait",
                "value": "false",
                "type": "bool"
            }
        ],
        "x": 510,
        "y": 160,
        "wires": [
            [
                "0ad9554c20eb8dd0"
            ]
        ]
    },
    {
        "id": "1322aa4137d1056e",
        "type": "function",
        "z": "191694dad2850f37",
        "d": true,
        "g": "17a2a4d88505d1b2",
        "name": "Prompt: Evalutate Solution",
        "func": "msg.createUserPrompt = (history) => {\n    const problemStatement = history.entries[0].content;\n\n    const solution = history.entries.slice(-1)[0].content;\n\n    return `I'm going to give you a prompt that a user named Lilly gave to an LLM model named BigStar-13B. Then, I will give you the response BigStar gave to Lilly. I want you to rate BigStar's response on a scale from 1-10. Then, give 2-3 specific improvements to BigStar's response that would have increased it's rating.\n\nHere is Lilly's prompt:\n\n${problemStatement}\n\nHere is BigStar's response:\n\n${solution}\n\nWhat would you rate BigStar's response?`;\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 420,
        "wires": [
            [
                "1f999e727d7bdcbd"
            ]
        ]
    },
    {
        "id": "1f999e727d7bdcbd",
        "type": "subflow:fe8f70709279ea90",
        "z": "191694dad2850f37",
        "g": "17a2a4d88505d1b2",
        "name": "Step 2",
        "env": [
            {
                "name": "Step",
                "value": "2",
                "type": "num"
            },
            {
                "name": "InitHistoryId",
                "value": "eval-01",
                "type": "str"
            }
        ],
        "x": 1290,
        "y": 420,
        "wires": [
            [
                "4135e1850bf3099c"
            ]
        ]
    },
    {
        "id": "833eaf27d6837495",
        "type": "subflow:fe8f70709279ea90",
        "z": "191694dad2850f37",
        "g": "3334e9dd5bf3557d",
        "name": "Step 3",
        "env": [
            {
                "name": "Step",
                "value": "3",
                "type": "num"
            },
            {
                "name": "InitHistory",
                "value": "false",
                "type": "bool"
            }
        ],
        "x": 1290,
        "y": 900,
        "wires": [
            [
                "909642bb1b9261ea"
            ]
        ]
    },
    {
        "id": "fe0f3fe28e08e2f0",
        "type": "function",
        "z": "191694dad2850f37",
        "g": "3334e9dd5bf3557d",
        "name": "Prompt: Propose New Prompt",
        "func": "msg.createUserPrompt = () => \n    `How could Lilly's prompt be altered to get BigStar to respond with your suggested improvements? Please provide the new prompt wrapped in <prompt></prompt> tags.`;\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 900,
        "wires": [
            [
                "833eaf27d6837495"
            ]
        ]
    },
    {
        "id": "a33731f7d26ff1d8",
        "type": "subflow:fe8f70709279ea90",
        "z": "191694dad2850f37",
        "g": "0df36a8be0d76989",
        "name": "Step 4",
        "env": [
            {
                "name": "Step",
                "value": "4",
                "type": "num"
            },
            {
                "name": "InitHistory",
                "value": "false",
                "type": "bool"
            }
        ],
        "x": 930,
        "y": 220,
        "wires": [
            [
                "85c126ddb6ae9692"
            ]
        ]
    },
    {
        "id": "36217d16d71a4c30",
        "type": "inject",
        "z": "191694dad2850f37",
        "g": "17a2a4d88505d1b2",
        "name": "Start @ Step 2",
        "props": [
            {
                "p": "historyId",
                "v": "solution-01",
                "vt": "str"
            },
            {
                "p": "historySourceFilename",
                "v": "/data/db/history-1706503270302.json",
                "vt": "str"
            },
            {
                "p": "action",
                "v": "step-start-at",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1260,
        "y": 340,
        "wires": [
            [
                "b38cd518b824c20d"
            ]
        ]
    },
    {
        "id": "7b60dc37c59dc80f",
        "type": "inject",
        "z": "191694dad2850f37",
        "g": "0df36a8be0d76989",
        "name": "Start @ Step 4",
        "props": [
            {
                "p": "historyId",
                "v": "eval-01",
                "vt": "str"
            },
            {
                "p": "historySourceFilename",
                "v": "/data/db/history-1706169633523.json",
                "vt": "str"
            },
            {
                "p": "action",
                "v": "step-start-at",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1260,
        "y": 80,
        "wires": [
            [
                "0800060d86e1ca55"
            ]
        ]
    },
    {
        "id": "36f73b6e3236c721",
        "type": "inject",
        "z": "191694dad2850f37",
        "g": "3334e9dd5bf3557d",
        "name": "Start @ Step 3",
        "props": [
            {
                "p": "historyId",
                "v": "eval-01",
                "vt": "str"
            },
            {
                "p": "historySourceFilename",
                "v": "/data/db/history-1706169407261.json",
                "vt": "str"
            },
            {
                "p": "action",
                "v": "step-start-at",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1260,
        "y": 820,
        "wires": [
            [
                "fe0f3fe28e08e2f0"
            ]
        ]
    },
    {
        "id": "bd8902942d9f30bc",
        "type": "function",
        "z": "191694dad2850f37",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 795,
        "y": 780,
        "wires": [
            [
                "fe0f3fe28e08e2f0"
            ]
        ],
        "icon": "font-awesome/fa-arrows",
        "l": false
    },
    {
        "id": "f79210375a125e74",
        "type": "function",
        "z": "191694dad2850f37",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1435,
        "y": 660,
        "wires": [
            [
                "bd8902942d9f30bc"
            ]
        ],
        "icon": "font-awesome/fa-arrows",
        "l": false
    },
    {
        "id": "909642bb1b9261ea",
        "type": "function",
        "z": "191694dad2850f37",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1435,
        "y": 820,
        "wires": [
            [
                "246801bf115544b3"
            ]
        ],
        "icon": "font-awesome/fa-arrows",
        "l": false
    },
    {
        "id": "246801bf115544b3",
        "type": "function",
        "z": "191694dad2850f37",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1125,
        "y": 640,
        "wires": [
            [
                "4135e1850bf3099c"
            ]
        ],
        "icon": "font-awesome/fa-arrows",
        "l": false
    },
    {
        "id": "c9ba32537f7bc133",
        "type": "function",
        "z": "191694dad2850f37",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1435,
        "y": 320,
        "wires": [
            [
                "322d52b49ebe2f42"
            ]
        ],
        "icon": "font-awesome/fa-arrows",
        "l": false
    },
    {
        "id": "88802dbd1e8b0c57",
        "type": "function",
        "z": "191694dad2850f37",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 645,
        "y": 420,
        "wires": [
            [
                "fe160cbe0df384e5"
            ]
        ],
        "icon": "font-awesome/fa-arrows",
        "l": false
    },
    {
        "id": "85c126ddb6ae9692",
        "type": "subflow:3bb38f582155f29d",
        "z": "191694dad2850f37",
        "g": "0df36a8be0d76989",
        "name": "",
        "x": 1050,
        "y": 220,
        "wires": [
            [
                "a8aa5ac1df416d41"
            ]
        ]
    },
    {
        "id": "a8aa5ac1df416d41",
        "type": "function",
        "z": "191694dad2850f37",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 345,
        "y": 280,
        "wires": [
            [
                "8565c4a9a8c13312"
            ]
        ],
        "icon": "font-awesome/fa-arrows",
        "l": false
    },
    {
        "id": "322d52b49ebe2f42",
        "type": "function",
        "z": "191694dad2850f37",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 755,
        "y": 260,
        "wires": [
            [
                "0800060d86e1ca55"
            ]
        ],
        "icon": "font-awesome/fa-arrows",
        "l": false
    },
    {
        "id": "6b036e58872195a7",
        "type": "function",
        "z": "191694dad2850f37",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1435,
        "y": 560,
        "wires": [
            [
                "fe160cbe0df384e5"
            ]
        ],
        "icon": "font-awesome/fa-arrows",
        "l": false
    },
    {
        "id": "079bf5373fe5d58f",
        "type": "function",
        "z": "191694dad2850f37",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 775,
        "y": 640,
        "wires": [
            [
                "c8bf1c9a8fe80c37"
            ]
        ],
        "icon": "font-awesome/fa-arrows",
        "l": false
    },
    {
        "id": "c8bf1c9a8fe80c37",
        "type": "function",
        "z": "191694dad2850f37",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 305,
        "y": 380,
        "wires": [
            [
                "0ad9554c20eb8dd0"
            ]
        ],
        "icon": "font-awesome/fa-arrows",
        "l": false
    },
    {
        "id": "b38cd518b824c20d",
        "type": "function",
        "z": "191694dad2850f37",
        "g": "17a2a4d88505d1b2",
        "name": " ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 855,
        "y": 420,
        "wires": [
            [
                "1322aa4137d1056e",
                "9240a0389d51445c"
            ]
        ],
        "icon": "font-awesome/fa-arrows",
        "l": false
    },
    {
        "id": "9240a0389d51445c",
        "type": "function",
        "z": "191694dad2850f37",
        "g": "17a2a4d88505d1b2",
        "name": "Prompt: Evalutate Against Original",
        "func": "msg.createUserPrompt = (history) => {\n    const problemStatement = flow.get(\"originalProblemStatement\");\n\n    const solution = history.entries.slice(-1)[0].content;\n\n    return `I'm going to give you a prompt that a user named Lilly gave to an LLM model named BigStar-13B. Then, I will give you the response BigStar gave to Lilly. I want you to rate BigStar's response on a scale from 1-10. Then, give 2-3 specific improvements to BigStar's response that would have increased it's rating.\n\nHere is Lilly's prompt:\n\n${problemStatement}\n\nHere is BigStar's response:\n\n${solution}\n\nWhat would you rate BigStar's response?`;\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 460,
        "wires": [
            [
                "1f999e727d7bdcbd"
            ]
        ]
    },
    {
        "id": "b75f0d8130661559",
        "type": "function",
        "z": "3fb1b07be44ed756",
        "name": "function 1",
        "func": "return { sseJs, nodeFetch, async }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "sseJs",
                "module": "sse.js"
            },
            {
                "var": "async",
                "module": "async"
            },
            {
                "var": "nodeFetch",
                "module": "node-fetch"
            }
        ],
        "x": 480,
        "y": 260,
        "wires": [
            [
                "ea2d35fce99de4ae"
            ]
        ]
    },
    {
        "id": "26a114fc27cd90b0",
        "type": "inject",
        "z": "3fb1b07be44ed756",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "b75f0d8130661559"
            ]
        ]
    },
    {
        "id": "ea2d35fce99de4ae",
        "type": "debug",
        "z": "3fb1b07be44ed756",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "8f75c3504c3dbc5f",
        "type": "function",
        "z": "3fb1b07be44ed756",
        "name": "Install dependencies",
        "func": "// List of NPM modules\nconst toInstall = [\n    'sse.js'\n]\n\nconst { exec } = childProcess;\n\nconst run = async (cmd) => {\n    const child = exec(cmd, (err) => {\n        if (err) console.error(err);\n    });\n    await new Promise((resolve) => child.on('close', resolve));\n};\n\nawait Promise.all(toInstall.map(it => run(`npm install ${it}`)));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "childProcess",
                "module": "child_process"
            }
        ],
        "x": 340,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e22d75a202b3a7d9",
        "type": "function",
        "z": "3fb1b07be44ed756",
        "name": "function 2",
        "func": "//throw new Error(\"This crashes Node-RED!\");\n\n(async () => {\n    try {\n        const sse = await (global.get(\"dynamicallyImport\"))(\"sse.js\");\n        node.send({sse});\n        node.done();\n    }\n    catch (e) {\n        node.send({ e });\n    }\n})();\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 360,
        "wires": [
            [
                "18e60cf6d75b5c02"
            ]
        ]
    },
    {
        "id": "233b190c4bba2abc",
        "type": "inject",
        "z": "3fb1b07be44ed756",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 360,
        "wires": [
            [
                "e22d75a202b3a7d9"
            ]
        ]
    },
    {
        "id": "18e60cf6d75b5c02",
        "type": "debug",
        "z": "3fb1b07be44ed756",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 360,
        "wires": []
    },
    {
        "id": "366fdac4502597e4",
        "type": "provide-import-fn",
        "z": "3fb1b07be44ed756",
        "name": "",
        "x": 370,
        "y": 580,
        "wires": [
            [
                "f58a612cea662f7f"
            ]
        ]
    },
    {
        "id": "f58a612cea662f7f",
        "type": "function",
        "z": "3fb1b07be44ed756",
        "name": "Named Imports",
        "func": "// List of modules\nconst toImport = [\n    'sse.js',\n    \"node:events\"\n];\n\n;(async () => {\n    try {\n        const imported = Object.fromEntries(\n            await Promise.all(\n                toImport.map(\n                    async it => [it, await msg.import(it)]\n                )\n            )\n        );\n\n        node.send({...msg, namedImports: imported});\n    }   \n    catch (e) {\n        node.error(e);\n    }\n})();\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "sseJs",
                "module": "sse.js"
            }
        ],
        "x": 620,
        "y": 580,
        "wires": [
            [
                "3163545a452b8023"
            ]
        ]
    },
    {
        "id": "3163545a452b8023",
        "type": "function",
        "z": "3fb1b07be44ed756",
        "name": "function 5",
        "func": "const {\"sse.js\": { SSE }} = msg.namedImports;\nconst { Event } = msg.global;\n\nclass CustomEvent extends Event { \n  constructor(message, data) {\n    super(message, data)\n    this.detail = data?.detail\n  }\n}\n\nmsg.global.CustomEvent = CustomEvent;\ntry {\n  const r = SSE();\n  msg.r = r;\n  return msg;\n}\ncatch (e) {\n  node.error(e);\n  node.error(e.stack);\n}\n\n// return {\n//   ...msg,\n//   scriptglobal: global,\n//   Event: global.Event,\n//   globalEvent: msg.global.Event\n// }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 500,
        "wires": [
            [
                "f4e0940a4675e15a"
            ]
        ]
    },
    {
        "id": "f4e0940a4675e15a",
        "type": "debug",
        "z": "3fb1b07be44ed756",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "d5dd065101ef890a",
        "type": "provide-global",
        "z": "3fb1b07be44ed756",
        "name": "",
        "x": 360,
        "y": 620,
        "wires": [
            [
                "366fdac4502597e4"
            ]
        ]
    },
    {
        "id": "4a5b440f0562c4c5",
        "type": "inject",
        "z": "3fb1b07be44ed756",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "d5dd065101ef890a"
            ]
        ]
    },
    {
        "id": "370b802881cc5a5b",
        "type": "function",
        "z": "3fb1b07be44ed756",
        "name": "Send chat to model",
        "func": "msg['genai-llama-cpp-llava'] = {\n    payload: {\n        \"messages\": [\n            {\n                \"role\": \"system\",\n                \"content\": \"You are a helpful chat bot that will perform any requested tasks to the best of your ability.\"\n            },\n            ...msg.chat.history.map(it => ({\n                role: it.role,\n                content: it.content\n            }))\n        ],\n        \"temperature\": 0.7,\n        \"stop\": null,\n        \"stream\": true\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 120,
        "wires": [
            [
                "d33cede612c96641"
            ]
        ]
    },
    {
        "id": "d33cede612c96641",
        "type": "subflow:6d317c39edd7ba27",
        "z": "3fb1b07be44ed756",
        "name": "localhost-sse",
        "env": [
            {
                "name": "Id",
                "value": "localhost-sse",
                "type": "str"
            },
            {
                "name": "Url",
                "value": "http://host.docker.internal:8091/sse",
                "type": "str"
            },
            {
                "name": "options",
                "value": "{\"method\": \"POST\"}",
                "type": "json"
            },
            {
                "name": "Options",
                "value": "{\"method\":\"POST\"}",
                "type": "json"
            }
        ],
        "x": 570,
        "y": 120,
        "wires": [
            [
                "453833904710992b"
            ]
        ]
    },
    {
        "id": "453833904710992b",
        "type": "debug",
        "z": "3fb1b07be44ed756",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 160,
        "wires": []
    },
    {
        "id": "e5399fe826058b29",
        "type": "subflow:6d317c39edd7ba27",
        "z": "3fb1b07be44ed756",
        "name": "localhost-openai",
        "env": [
            {
                "name": "Id",
                "value": "localhost-openai",
                "type": "str"
            },
            {
                "name": "Url",
                "value": "http://host.docker.internal:8080/v1/chat/completions",
                "type": "str"
            },
            {
                "name": "Options",
                "value": "{\"method\":\"POST\",\"headers\":{\"Content-Type\":\"application/json\"}}",
                "type": "json"
            },
            {
                "name": "options",
                "value": "{\"method\": \"POST\"}",
                "type": "json"
            }
        ],
        "x": 760,
        "y": 60,
        "wires": [
            [
                "4912a5fe5cc3d7cd"
            ]
        ]
    },
    {
        "id": "4912a5fe5cc3d7cd",
        "type": "debug",
        "z": "3fb1b07be44ed756",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 100,
        "wires": []
    },
    {
        "id": "6db72e1f1342ce1d",
        "type": "subflow:6d317c39edd7ba27",
        "z": "3fb1b07be44ed756",
        "name": "genai-llama-cpp-llava",
        "env": [
            {
                "name": "Id",
                "value": "genai-llama-cpp-llava",
                "type": "str"
            },
            {
                "name": "Url",
                "value": "http://d2u7t6ixyjqeq5.cloudfront.net/genai-llama-cpp-llava/v1/chat/completions",
                "type": "str"
            },
            {
                "name": "Options",
                "value": "{\"method\":\"POST\",\"headers\":{\"Content-Type\":\"application/json\"}}",
                "type": "json"
            },
            {
                "name": "options",
                "value": "{\"method\": \"POST\"}",
                "type": "json"
            }
        ],
        "x": 780,
        "y": 180,
        "wires": [
            [
                "eea7ca5e3d911f8d"
            ]
        ]
    },
    {
        "id": "eea7ca5e3d911f8d",
        "type": "debug",
        "z": "3fb1b07be44ed756",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "53c302c1821fa9b9",
        "type": "inject",
        "z": "3fb1b07be44ed756",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 1190,
        "y": 440,
        "wires": [
            [
                "f1e2bb90d5fcdf68"
            ]
        ]
    },
    {
        "id": "d7e17a64b9a03bac",
        "type": "debug",
        "z": "3fb1b07be44ed756",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 440,
        "wires": []
    },
    {
        "id": "f1e2bb90d5fcdf68",
        "type": "function",
        "z": "3fb1b07be44ed756",
        "name": "function 7",
        "func": "\nreturn {fs};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 1340,
        "y": 440,
        "wires": [
            [
                "d7e17a64b9a03bac"
            ]
        ]
    },
    {
        "id": "3e349487bb31edf5",
        "type": "inject",
        "z": "8518392b3e041cfe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 320,
        "wires": [
            [
                "ec9ee8ba595e12ca"
            ]
        ]
    },
    {
        "id": "ec9ee8ba595e12ca",
        "type": "function",
        "z": "8518392b3e041cfe",
        "name": "function 13",
        "func": "flow.set(\"prop\", 14);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 320,
        "wires": [
            [
                "9827779f81d25fee"
            ]
        ]
    },
    {
        "id": "9827779f81d25fee",
        "type": "function",
        "z": "8518392b3e041cfe",
        "name": "function 14",
        "func": "msg.root = flow.get(\"prop\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 340,
        "wires": [
            [
                "1ae2ee3010712831"
            ]
        ]
    },
    {
        "id": "3fe3f4f66c1086bc",
        "type": "debug",
        "z": "8518392b3e041cfe",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 340,
        "wires": []
    },
    {
        "id": "1ae2ee3010712831",
        "type": "subflow:95c38d96d861b4c4",
        "z": "8518392b3e041cfe",
        "name": "",
        "x": 1180,
        "y": 340,
        "wires": [
            [
                "3fe3f4f66c1086bc"
            ]
        ]
    }
]